section.eighth
    .eighth__outer
        .container
            .eighth__inner
                .eighth__title
                    | Представьте,
                    span(class="eighth__title--dark") что Вы воспользовались выигрышной возможностью
                    span и открыли свой кибер-клуб
                .eighth__subtitle
                    .eighth__subtitle-num 
                        | 01
                    .eighth__subtitle-content
                        .eighth__subtitle-title 
                            | 1 рабочий день 
                        .eighth__subtitle-text 
                            | Заходят клиенты... кто они и сколько готовы потратить?
                    .eighth__subtitle-decor--top
                        .icon.icon-angle
                    .eighth__subtitle-decor--bottom
                        .icon.icon-angle
                .eighth__content
                    .eighth__user
                        .eighth__user-photo
                            img(src="images/eighth/user_1.png")
                        .eighth__user-content
                            .eighth__user-name
                                | Михаил
                            .eighth__user-descr
                                | 19 лет
                            .eighth__user-text
                                | Готов потратить до 1 000 руб. <br>Часто будет приходить с друзьями. <br>Будет заказывать кальян.
                            .eighth__user-decor
                                .icon.icon-plus-red
                    .eighth__user
                        .eighth__user-photo
                            img(src="images/eighth/user_3.png")
                        .eighth__user-content
                            .eighth__user-name
                                | Группа друзей
                            .eighth__user-descr
                                | от 3 до 5 человек
                            .eighth__user-text
                                | Общий чек около 3 000<span>~</span> <br>Будут покупать еду и напитки, заказывать кальян
                            .eighth__user-decor
                                .icon.icon-plus-red
                    .eighth__user
                        .eighth__user-photo
                            img(src="images/eighth/user_2.png")
                        .eighth__user-content
                            .eighth__user-name
                                | Павел
                            .eighth__user-descr
                                | 16 лет
                            .eighth__user-text
                                | Готова потратить до 500 руб<span>~</span> <br>Будет покупать еду и напитки.
                            .eighth__user-decor
                                .icon.icon-plus-red
                    .eighth__user
                        .eighth__user-photo
                            img(src="images/eighth/user_4.png")
                        .eighth__user-content
                            .eighth__user-name
                                | Сергей
                            .eighth__user-descr
                                | 34 года
                            .eighth__user-text
                                | Готов потратить до 1 500 руб<span>~</span> <br>Будет участвовать в турнирах.
                            .eighth__user-decor
                                .icon.icon-plus-red


                
