section.eleventh.is-decor--top-left.is-decor--bottom-right
    .eleventh__outer
        .container
            .eleventh__inner
                .eleventh__title
                    .eleventh__title--red Мы докажем, что CyberX - 
                    .eleventh__title--dark это бизнес в удовольствие
                .eleventh__content
                    .eleventh__questions
                        .eleventh__questions-item
                            .eleventh__item-title 
                                | Что делаем мы?
                                .eleventh__item-decor--top
                                    .icon.icon-angle
                                .eleventh__item-decor--bottom
                                    .icon.icon-angle
                            ul.eleventh__item-list 
                                li Полное оформлением бумаг
                                li Поиск помещения
                                li Дизайн-проект
                                li Курируем проведение всех этапов ремонтных работ. <span>Также возможен выезд нашей команды к Вам в город для создания киберпространства под ключ</span>
                                li Закупка и доставка оборужования
                                li Закупка мебели и кресел
                                li Закупка еды
                                li Закупка кальянов
                                li Обучение персонала клуба
                                li Проводим рекламную кампанию перед открытием
                                li Продолжаем маркетинговую поддержку в течение всего действия договора
                                li Проводим турниры
                                li Устанавливаем софт, cтоимость которого для вас на стороне составила бы не менее 80 тысяч рублей

                        .eleventh__questions-item
                            .eleventh__item-title 
                                | Что хотели бы сделать Вы?
                                .eleventh__item-decor--top
                                    .icon.icon-angle
                                .eleventh__item-decor--bottom
                                    .icon.icon-angle
                            ul.eleventh__item-list 
                                li Участвовать в разработке дизайна клуба
                                li Выбирать, что будет <br>продаваться у меня в клубе
                                li Нанимать персонал
                        .eleventh__questions-elem
                            .eleventh__questions-elem_img
                                .icon.icon-elem-bg
                    .eleventh__howmuch
                        .eleventh__howmuch-title Сколько?
                        .eleventh__howmuch-text
                            p Сейчас мы могли бы написать, что франшиза CyberX стоит всего лишь 1 200 000 рублей, лишь бы заманить Вас привлекательно низкой ценой. После оказалось бы, что это лишь стоимость железа и здания, без дизайн-проекта, стульев, еды, кальянов, обучения персонала и т.д., а полноценная франшиза стоит куда дороже. 
                            p Мы принципиально против таких уловок, мы не хотим заманивать Вас бросовой ценой, чтобы после её технично увеличить в разы. Поэтому мы поступаем иначе. Как?
                            p Встречаемся, или связываемся по скайпу и общаемся с Вами. Выясняем ваши потребности, возможности и желания, и лишь после рассчитываем полную стоимость франшизы, называя Вам ее без утайки. Так куда честнее, согласны? 
                            p При этом, мы гарантируем, что цена будет доступной и быстро окупаемой. А экономия времени и денег, вкупе с нашими фирменными гарантиями и бесплатным дизайн-проектом и вовсе делают франшизу самой выгодной из всех возможных.