section.fifteenth.is-decor--top-left
    .fifteenth__outer
        .container
            .fifteenth__title
                span.fifteenth__title--red заполни анкету потенциального партнёра и 
                span.fifteenth__title--white стань частью команды CyberX уже сейчас!
            .fifteenth__inner
                .fifteenth__content
                    .fifteenth__form
                        form(action="#")
                            .fifteenth__form-inner
                                .fifteenth__form-title
                                    | А мы в свою очередь отправим вам финансовую модель работы заведения для вашего города!
                                .fifteenth__form-inputs
                                    .fifteenth__form-input
                                        input(type="text" id="form15name" placeholder="Ваше имя")
                                    .fifteenth__form-input.is-necessarily
                                        input(type="text" id="form15phone" name="form15phone" placeholder="Ваш телефон")
                                    .fifteenth__form-input.is-necessarily
                                        input(type="text" id="form15mail" placeholder="Ваш e-mail")
                                    .fifteenth__form-input
                                        input(type="text" id="form15city" placeholder="Ваш город")

                                .fifteenth__note_title 
                                    | Поля отмеченные <span>звездочкой</span> - обязательны к заполнению! 
                                .fifteenth__note_politics 
                                    | Нажимая «Отправить заявку», Вы соглашаетесь с 
                                    a(href="#") политикой конфиденциальности
                                .fifteenth__form-button
                                    button.button--red
                                        span Отправить заявку
        .fifteenth__footer
            .container
                .fifteenth__footer-phone
                        .fifteenth__footer-phone_icon
                            img(src="data:image/png;;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAATJJREFUOI2d1LFqFFEYhuFvlwUDa++CFsEuWIggglgLsQhCTJ82FxC8ArHxDjQRG1lYsPFKQopkg6RKEZIiISGgKcJjsTOwTCa7M3nhwPAN551zzv/PCYIeljHGOjpF3niUknfYMeEEi/cRvZ2SlHwpPtBKtOs2B3jVRtRNspTbPE3yPkmn5l0t3STjmvwiyVFTSSn6XZMPk/xMoo1olOS8kv9LctV2RYeFbJqVJC/biMpTf11UquQGIzxp2pzlwwNs4mJKdo2veFyZ1EX/LlHwCNuVfrrGEC+KlfWxgS2s4WGdKBjgV0V2gz18Mun40yI/xg88Q6duv50a2SzOsH7X4Q3wHZcNZYezKjHAR/yZIxljdV5ZF/AG34otVNnHB/Sa/t19PMdnkyvnr0kBVhTXzX+HeB067Ly9HQAAAABJRU5ErkJggg==")
                        a(href="tel:8 499 288 27 35") 8 499 288 27 35
                .fifteenth__footer-mail
                    a(href="mailto: info@cyberx-franchise.ru") info@cyberx-franchise.ru
                .fifteenth__footer-logo
                    img(src="/images/first/logo.png")
                .fifteenth__footer-address
                    | 119421, г. Москва, Ленинский проспект, 109
                .fifteenth__footer-copy
                    | © 2016–2019 / ООО «РИКИС»