section.fifth
    .fifth__outer
        .container
            .fifth__inner
                .fifth__title
                    | Всего несколько слов, 
                    span которые могут изменить Ваше представление о&nbsp;киберспорте
                .fifth__grafics
                    .fifth__grafics-gold
                        .fifth__grafics-title
                            | Это график цен на золото за <br>последние 5 лет
                        .fifth__grafics-image
                            img(src="/images/fifth/gold.png")
                    .fifth__grafics-ciber
                        .fifth__grafics-title
                            | А это график денежного оборота в <br>кибер-спорте за последние 5 лет...
                        .fifth__grafics-image
                            img(src="/images/fifth/ciber.png")
                .fifth__text
                    .fifth__link-forbes
                        | рынок киберспорта растет каждый год в два раза. К 2021 году в РФ он будет составлять 100 млн долларов<br>
                        a(href="https://www.forbes.ru/" target="_blank") Читайте в Forbes
                    .fifth__text-title
                        | Сейчас самое главное - это вовремя зайти на этот рынок и занять свой город, пока это не сделал кто-то другой
                    .fifth__text-call
                        | Игра стоит свеч!