.form_too
    .form_too__outer
        .form_too__inner
            .container
                .form_too__title
                    | проверьте, свободен ли Ваш город?
                .form_too__button
                    button.button--red
                        span Проверить