div.form_one
    .form_one__outer
    .form_one__inner
        .container
            .form_one__title
                | оставьте заявку и получите доступ <br>к финансовым документам
            .form_one__button
                button Получить доступ