section.fourteenth.is-decor--top-right.is-decor--bottom-left
    .fourteenth__outer
        .fourteenth__title
            | Где уже есть CyberX?

        .fourteenth__map
            //- <iframe src="https://yandex.ua/map-widget/v1/?um=constructor%3A2cdc7fe7d2bc57c7dd29c7c119a572382a43d9266cbb9784615ac6048b131970&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            //- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2cdc7fe7d2bc57c7dd29c7c119a572382a43d9266cbb9784615ac6048b131970&amp;width=100%25&amp;height=400&amp;lang=ru_UA&amp;scroll=true"></script>
            <div id="map"></div>