section.fourth.is-decor--top-left.is-decor--bottom-right
    .fourth__bg
        .fourth__bg-first
        .fourth__bg-second
    .fourth__wrapp
        .container
            .fourth__title
                | наши фирменные <br>
                span факторы успеха
            .fourth__content
                .fourth__item
                    .fourth__item-num 1
                    .fourth__item-title Гарантия <br>популярности
                    .fourth__item-text
                        p Гарантируем, что не только Вы будете в восторге от своего клуба, но и ваши клиенты!<br>
                        p Даже больше - клиенты ваших конкурентов будут восхищаться пространством CyberX, и скоро станут вашими постоянными посетителями.
                .fourth__item
                    .fourth__item-num 2
                    .fourth__item-title Гарантия твердой цены и <br>соблюдения сроков
                    .fourth__item-text
                        p Гарантируем, что зафиксированная в&nbsp;договоре стоимость открытия не вырастет ни на копейку за 25 дней организации. <br>
                        p Если же мы не уложимся в бюджет или&nbsp;сроки, выплатим Вам компенсацию.
                .fourth__item
                    .fourth__item-num 3
                    .fourth__item-title Гарантия <br>окупаемости
                    .fourth__item-text
                        p Гарантируем, что окупаемость франшизы составит от 4 до 9 месяцев. <br>
                        p Откуда мы взяли эти цифры? <br>Из своего собственного опыта, из опыта наших партнеров, и мировой статистики. 