section.ninth
    .ninth__outer
        .container
            .ninth__inner
                .ninth__item
                    .ninth__item-title
                        span Открыть бизнес
                        | Самостоятельно
                    .ninth__item-text
                        | Конечно же, вы можете открыться самостоятельно, совершить множество ошибок, которые мы уже научились обходить, потратить огромные деньги из&#8209;за отсутствия партнерских отношений с лучшими производителями, и скорее всего, закрыться через пол года, так как&nbsp;у игроков уже есть любимое киберпространство. 
                        .ninth__item-icon
                            .ninth__item-icon_bg
                                .icon.icon-myself
                .ninth__item.ninth__item--red
                    .ninth__item-title
                        span Открыться
                        | С нами 
                    .ninth__item-text
                        p Открывшись с CyberX вы не только экономите более 300 000 рублей на оборудовании и закупке продукции, но и имеете четкий маркетинговый план, который приведет вас к абсолютному успеху. <br>
                        p Под вашим руководством будут работать специалисты в области пиара и маркетинга. С самого первого дня толпы людей выстроятся перед дверями вашего кибер клуба. <br>
                        p Вы также бесплатно получите полностью проработанный дизайн-проект и софт по автоматизации киберклуба, который на стороне вам обойдется минимум 50 тысяч рублей.
                        .ninth__item-icon
                            .ninth__item-icon_bg
                                .icon.icon-withus

