section.second.is-decor--top-right.is-decor--bottom-right
    .second__inner
        .container
            .second__logo
                img(src="/images/first/logo.png")
            .second__info
                <table class="tab">
                    <tr>
                        <td>&nbsp;</td>
                        <td class="tab__title">CyberX сегодня:</td>
                    </tr>
                    <tr>
                        <td class="tab__red">7</td>
                        <td><span class="tab__large">клубов в 7 городах России</span></td>
                    </tr>
                    <tr>
                        <td class="tab__red">122</td>
                        <td>игровых станций ПК</td>
                    </tr>
                    <tr>
                        <td class="tab__red">22</td>
                        <td>консоли SonyPS4</td>
                    </tr>
                    <tr>
                        <td class="tab__red">&gt;&nbsp;9000</td>
                        <td>уникальных игроков</td>
                    </tr>
                    <tr>
                        <td class="tab__red">0</td>
                        <td>закрытых точек</td>
                    </tr>
                    <tr>
                        <td class="tab__red tab__red--last" colspan="2"><span>230 000 руб минимальная <br>чистая прибыль одного <br>заведения CyberX</span></td>
                    </tr>
                </table>
