section.sixth.is-decor--top-left.is-decor--bottom-right
    .sixth__outer
        .container
            .sixth__inner
                .sixth__title
                    | с чего начать? <br>
                    span Выберете, что вы хотите видеть в своем заведении, и узнайте какой заработок Вас ждет
                .sixth__content
                    .sixth__col-one
                        .calculator
                            .calculator__title 
                                | калькулятор прибыли
                            .calculator__list
                                input(type="checkbox" id="calc-game-pk" name="calc-game-pk")
                                label(for="calc-game-pk")
                                    | Игровые компьютеры
                                input(type="checkbox" id="calc-food" name="calc-food")
                                label(for="calc-food")
                                    | Еда и напитки
                                input(type="checkbox" id="calc-events" name="calc-events")
                                label(for="calc-events")
                                    | Мероприятия
                                input(type="checkbox" id="calc-hookah" name="calc-hookah")
                                label(for="calc-hookah")
                                    | Кальяны
                            .calculator__result
                                .calculator__result-title
                                    | Итого:
                                .calculator__result-month
                                    p 1 месяц
                                    p <span>400 000</span> руб
                                .calculator__result-year
                                    p 12 месяцев
                                    p <span>2 500 000</span> руб
                    .sixth__col-too
                        .sixth__item
                            .sixth__item-image
                                img(src="images/sixth/comp.png")
                            .sixth__item-content
                                .sixth__item-title
                                    | компьютеры <b>и</b> s<b>ony</b>ps
                                .sixth__item-text
                                    | Мощное и современное «железо», которое обычные россияне не могут себе позволить. Для Вас компьютеры обойдутся дешевле до 20%, от обычной закупочной цены. При заказе от 15 компьютеров, Вы полностью компенсирует выделенные средства на паушальный взнос.
                        .sixth__item
                            .sixth__item-image
                                img(src="images/sixth/food.png")
                            .sixth__item-content
                                .sixth__item-title
                                    | Еда и напитки
                                .sixth__item-text
                                    | Кибер-пространство от CyberX уникально тем, что соединяет в себе множество видов отдыха, поэтому доля дохода будет приходить от продажи закусок.
                    .sixth__col-three
                        .sixth__item
                            .sixth__item-image
                                img(src="images/sixth/events.png")
                            .sixth__item-content
                                .sixth__item-title
                                    | Мероприятия
                                .sixth__item-text
                                    | Мероприятия играют важную роль в популяризации заведения, и в Вашем заработке. Игроки готовятся к ним не меньше чем мы, и с радостью тратят свои деньги на турнирах, это их способ хорошо отдохнуть с друзьями.
                        .sixth__item
                            .sixth__item-image
                                img(src="images/sixth/hookah.png")
                            .sixth__item-content
                                .sixth__item-title
                                    | Кальяны
                                .sixth__item-text
                                    | Одна из важнейших составляющих успешного места для отдыха - это кальяны. Они популярные, они востребованные и выгодные. Геймеры будут приходить не в одиночку, а с друзьями. Чем больше Вы можете дать клиенту, тем больше он будет отдавать взамен. 