section.third
    .third__wrapper
        .container
            .third__title
                | Мы докажем, что Вы можете быть <br>
                span успешным владельцем кибер-клуба
            .third__content
                .third__content-decor
                    .third__content-decor--angle
                        .icon.icon-angle
                        .icon.icon-angle
                        .icon.icon-angle
                        .icon.icon-angle
                    .third__content-decor--pluses
                        .icon.icon-plus
                        .icon.icon-plus
                        .icon.icon-plus
                        .icon.icon-plus
                .third__content-items
                    .third__item
                        .third__item-img
                            .icon.icon-security
                        .third__item--text
                            | Уникальная <br>тройная гарантия
                    .third__item
                        .third__item-img
                            .icon.icon-price-tag
                        .third__item--text
                            | Абсолютно <br>адекватная цена и никаких переплат
                    .third__item
                        .third__item-img
                            .icon.icon-calendar
                        .third__item--text
                            | Экономия как минимум 300 000 рублей и 3 месяцев времени
                    .third__item
                        .third__item-img
                            .icon.icon-performance
                        .third__item--text
                            | Оформление бизнеса “под ключ” за 25 дней
                    .third__item
                        .third__item-img
                            .icon.icon-pie-chart
                        .third__item--text
                            | Свободная <br>планировка
                    .third__item
                        .third__item-img
                            .icon.icon-employee
                        .third__item--text
                            | Минимальные требования к будущему партнеру
                    .third__item
                        .third__item-img
                            .icon.icon-contract
                        .third__item--text
                            | “Забираем” у партнера все заботы по оформлению бумаг
                    .third__item
                        .third__item-img
                            .icon.icon-joystick
                        .third__item--text
                            | Бизнес, который предоставляет услугу на которую есть спрос
                    .third__item
                        .third__item-img
                            .icon.icon-group
                        .third__item--text
                            | Большой поток клиентов <br>уже в первый день <br>работы
                    .third__item
                        .third__item-img
                            .icon.icon-chat
                        .third__item--text
                            | Пожизненная <br>поддержка


