section.thirteenth
    .thirteenth__outer
        .container
            .thirteenth__title
                .thirteenth__title--red CyberX- самая прозрачная франшиза 
                .thirteenth__title--dark в сфере развлечений
            .thirteenth__inner
                .thirteenth__content
                    .thirteenth__player
                        .video.js-video-wrapper
                            video(controls="controls")
                                source(type="video/mp4" src="/images/video/vide01.mp4")
                            .video__overlay(style="background-image: url(/images/thirteenth/video_bg.jpg)")
                                .video__overlay-hover(style="background-image: url(/images/thirteenth/hover.jpg)")
                                a.video__btn.js-play(href="#")
                                    .icon.icon-play-big
                        .thirteenth__player-descr
                            .thirteenth__player-title 
                                | Онлайн-видеонаблюдение. 
                                span Смотрите за нашими клубами <br>
                                    | в режиме  реального времени.
                                .thirteenth__playr-decor--top
                                    .icon.icon-angle
                                .thirteenth__playr-decor--bottom
                                    .icon.icon-angle
                            .thirteenth__player-address
                                .icon.icon-play
                                | г. Москва, ул. центральная 19
                    .thirteenth__items
                        a(href="#").twelfth__item
                            img(src="images/twelfth/club.jpg")
                            | г. Москва, ул. центральная 19
                        a(href="#").twelfth__item
                            img(src="images/twelfth/club.jpg")
                            | г. Москва, ул. центральная 19
                        a(href="#").twelfth__item
                            img(src="images/twelfth/club.jpg")
                            | г. Москва, ул. центральная 19
                .thirteenth__button
                    button.button--red
                        span Получить доступ к другим камерам