section.twelfth
    .twelfth__outer
        .container
            .twelfth__inner
                .twelfth__title
                    | наши открытые клубы
                .twelfth__content
                    a(href="#").twelfth__item
                        img(src="images/twelfth/club.jpg")
                        | г. Москва, ул. центральная 19
                    a(href="#").twelfth__item
                        img(src="images/twelfth/club.jpg")
                        | г. Москва, ул. центральная 19
                    a(href="#").twelfth__item
                        img(src="images/twelfth/club.jpg")
                        | г. Москва, ул. центральная 19
                    a(href="#").twelfth__item
                        img(src="images/twelfth/club.jpg")
                        | г. Москва, ул. центральная 19
                    a(href="#").twelfth__item
                        img(src="images/twelfth/club.jpg")
                        | г. Москва, ул. центральная 19
                    a(href="#").twelfth__item
                        img(src="images/twelfth/club.jpg")
                        | г. Москва, ул. центральная 19
                .twelfth__button
                    button.button--red
                        span Больше клубов