.eighth {
    position: relative;
    padding: 56.75% 0 0;
    background: url('../images/eighth/eighth_bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        bottom: -83px;
        left: -224px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);
    }

    &:after {
        content: '';
        position: absolute;
        top: -83px;
        right: -202px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);
    }

    &__outer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: left;
    }

    &__inner {
        width: 83.33%;
    }

    &__title {
        padding: 99px 0 91px 140px;
        font-family: "RussoOne";
        font-size: 40px;
        line-height: 74px;
        letter-spacing: -0.7px;
        text-align: center;
        text-transform: uppercase;
        color: #bf1e2e;

        span {
            display: block;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: -0.4px;
        }

        &--dark {
            color: #000;
        }
    }

    &__subtitle {
        position: relative;
        width: 950px;
        margin: 0 0 22px;
    }

    &__subtitle-num {
        position: absolute;
        top: -83px;
        left: 57px;
        font-family: "RussoOne";
        font-size: 225px;
        line-height: 225px;
        letter-spacing: -3px;
        color: #bf1e2e;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba(#fff, 1) 20%, rgba(#fff, 0.85) 60%);
        }
    }

    &__subtitle-content {
        opacity: 0.99;
    }

    &__subtitle-title {
        padding: 20px 0 6px 39px;
        font-family: "RoadRadio-Black";
        font-size: 35px;
        letter-spacing: -0.7px;
        color: #bf1e2e;
    }

    &__subtitle-text {
        padding: 0 0 25px 136px;
        font-family: "RoadRadio-Bold";
        font-size: 25px;
        letter-spacing: -0.7px;
        color: #3b3b3b;
    }

    &__subtitle-decor--top {
        position: absolute;
        top: -5px;
        left: 7px;
        width: 30px;
        height: 30px;
    }

    &__subtitle-decor--bottom {
        position: absolute;
        bottom: 0;
        right: 3px;
        width: 30px;
        height: 30px;

        .icon {
            transform: rotate(180deg);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 0 0 88px;
    }

    &__user {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 583px;
        margin: 0 0 36px;
    }

    &__user-photo {

    }

    &__user-content {
        position: relative;
        padding: 37px 0 0 32px;
        letter-spacing: -0.5px;
    }

    &__user-name {
        font-family: "RoadRadio-Bold";
        font-size: 20px;
        color: #000;
    }

    &__user-descr {
        font-family: "RoadRadio-Bold";
        font-size: 18px;
        color: #000;
        margin: 0 0 3px;
    }

    &__user-text {
        font-family: "Jura-DemiBold";
        font-size: 18px;
        letter-spacing: -0.4px;
        color: #3b3b3b;

        span {
            font-size: 24px;
        }
    }

    &__user-decor {
        position: absolute;
        top: 20px;
        left: 5px;
        width: 30px;
        height: 30px;
    }
}
