.eighth {
    padding: 0 0 60px;
    background: url('../images/eighth/eighth_bg_750.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__title {
        padding: 31px 0 39px;
        font-family: "RussoOne";
        font-size: 30px;
        line-height: 1.85;
        letter-spacing: -0.7px;
        text-align: center;
        text-transform: uppercase;
        color: #bf1e2e;

        @media (max-width: 799px) {
            padding: 31px 15px 39px;
            
        }

        span {
            display: block;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.4px;
        }
        
        &--dark {
            color: #000;
        }
    }

    &__subtitle {
        position: relative;
        width: 300px;
        margin: 0 auto 3px;
    }

    &__subtitle-num {
        position: absolute;
        top: -31px;
        left: 57px;
        font-family: "RussoOne";
        font-size: 110px;
        line-height: 1;
        letter-spacing: -3px;
        color: #bf1e2e;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba(#fff, 1) 20%, rgba(#fff, 0.85) 60%);
        }
    }

    &__subtitle-content {
        opacity: 0.99;
    }

    &__subtitle-title {
        padding: 20px 0 6px 34px;
        font-family: "RoadRadio-Black";
        font-size: 22px;
        letter-spacing: -0.7px;
        color: #bf1e2e;
    }

    &__subtitle-text {
        padding: 0 0 34px;
        font-family: "RoadRadio-Bold";
        font-size: 18px;
        letter-spacing: -0.7px;
        text-align: center;
        color: #3b3b3b;
    }

    &__subtitle-decor--top {
        position: absolute;
        top: -1px;
        left: 5px;
        width: 30px;
        height: 30px;
    }

    &__subtitle-decor--bottom {
        position: absolute;
        bottom: 0;
        right: 5px;
        width: 30px;
        height: 30px;

        .icon {
            transform: rotate(180deg);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 0 0 100px;

        @media (max-width: 799px) {
            padding: 0 0 0 25px;
        }
    }

    &__user {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        margin: 0 0 -9px;

        @media (max-width: 799px) {
            width: 100%;
            margin: 0 0 10px;
        }
    }

    &__user-photo {
        text-align: center;
        margin: 0 0 -6px;
    }

    &__user-content {
        position: relative;
        letter-spacing: -0.5px;
    }

    &__user-name {
        font-family: "RoadRadio-Bold";
        font-size: 20px;
        color: #000;
    }

    &__user-descr {
        font-family: "RoadRadio-Bold";
        font-size: 17px;
        color: #000;
        margin: 0 0 3px;
    }
    
    &__user-text {
        padding: 0 30px 0 0;
        font-family: "Jura-DemiBold";
        font-size: 15px;
        letter-spacing: -0.4px;
        color: #3b3b3b;

        span {
            font-size: 24px;
        }
    }

    &__user-decor {
        position: absolute;
        top: -32px;
        left: -26px;
        width: 30px;
        height: 30px;
    }
}
