.fifth {
    background: url('../images/fifth/fifth_bg_750.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__title {
        padding: 35px 0 0;
        font-size: 25px;
        font-family: "RussoOne";
        letter-spacing: -0.4px;
        color: #bf1e2e;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 16px;

    @media (max-width: 799px) {
        font-size: 22px;
    }

        span {
            padding: 0 10px 0 0;
            color: #fff;
        }
    }

    &__grafics {

        color: #fff;
        margin: 0 0 22px;
    }

    &__grafics-gold,
    &__grafics-ciber {
        width: 640px;
        margin: 0 auto 26px;

        @media (max-width: 799px) {
            width: 100%;
        }
    }

    &__grafics-image img {

        @media (max-width: 799px) {
            width: 100%;
            max-width: 640px;
            height: 300px;
        }

    }
    
    &__grafics-title {
        padding: 0 0 0 10px;
        font-family: "RoadRadio";
        font-size: 20px;
        margin: 0 0 22px;

        @media (max-width: 799px) {
            font-size: 18px;
        }

        br {
            display: none;
        }
    }

    &__grafics-ciber .fifth__grafics-title {
        margin: 0 0 -39px;
    }
    
    &__text {
        color: #fff;
        text-align: center;
    }

    &__link-forbes {
        font-family: "RoadRadio";
        font-size: 18px;
        letter-spacing: -0.2px;
        margin: 0 0 18px;

        a {
            color: #bf1e2e;
        }

        br {
            display: none;
        }
    }

    &__text-title {
        padding: 0 0 16px;
        font-family: "RussoOne";
        font-size: 20px;
        letter-spacing: -0.45px;
        text-transform: uppercase;
    }

    &__text-call {
        padding: 0 0 32px 0;
        font-family: "RussoOne";
        font-size: 30px;
        letter-spacing: -0.5px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-shadow: 15px 15px 20px #bf1e2e,
                    -15px 15px 20px #bf1e2e,
                    15px -15px 20px #bf1e2e,
                    -15px -15px 20px #bf1e2e;

    }
}

