.fifteenth {
    padding: 0 0 40px;
    background: url('../images/fifteenth/fifteenth_bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__outer {
        color: #000;
    }

    .container {
        padding: 0;
    }

    &__inner {
        padding: 0 10px 0 0;
    }


    &__title {
        padding: 35px 0 0 0;
        font-family: "RussoOne";
        font-size: 30px;
        letter-spacing: -0.7px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 21px;

        @media (max-width: 799px) {
            font-size: 25px;
        }
    }

    &__title--red {
        color: #bf1e2e;
        text-align: center;
        margin: 0 0 -2px;

        @media (max-width: 799px) {
            display: block;
        }
    }

    &__title--white {
        color: #fff;
        text-align: center;

        @media (max-width: 799px) {
            display: block;
        }
    }

    &__content {
        text-align: center;
    }

    &__form {
        width: 595px;
        padding: 2px;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 9.5px 0.5px rgba(0, 0, 0, 0.25);
        margin: 0 auto;

        @media (max-width: 799px) {
            max-width: 95%;
            min-width: 310px;
        }

        form {
            width: 100%;
            height: 100%;
            padding: 5px;
            border-radius: 3px;
            background-color: rgb(255, 255, 255);
            opacity: 0.902;
            box-shadow: 0px 2px 9.5px 0.5px rgba(0, 0, 0, 0.25);
        }
    }

    &__form-inner {
        width: 100%;
        height: 100%;
        padding: 23px 0 36px;
        border-width: 2px;
        border-color: rgb(191, 30, 46);
        border-style: solid;
        border-radius: 3px;
    }

    &__form-title {
        width: 80%;
        font-family: "RoadRadio-Black";
        font-size: 22px;
        letter-spacing: -0.5px;
        color: #000;
        margin: 0 auto;

        @media (max-width: 799px) {
            min-width: 290px;
            font-size: 18px;
        }
    }

    &__form-inputs {
        width: 87%;
        text-align: center;
        margin: 0 auto 7px;
    }

    &__form-input {
        margin: 28px 0 20px;

        @media (max-width: 799px) {
            margin: 21px 0 29px;
        }

        input {
            width: 100%;
            height: 33px;
            font-family: "Jura-DemiBold";
            font-size: 20px;
            border: none;
            border-bottom: 2px solid #818181;

            @media (max-width: 799px) {
                font-size: 18px;
            }
        }

        &.is-necessarily {
            position: relative;

            &:after {
                content: '*';
                position: absolute;
                top: 3px;
                right: 11px;
                font-size: 30px;
                color: #bf1e2e;
            }
        }
    }

    &__note_title {
        font-family: "Jura-DemiBold";
        font-size: 15px;
        color: #000;
        margin: 0 0 22px;

        span {
            color: #bf1e2e;
        }
    }

    &__note_politics,
    &__note_politics a {
        font-family: "Jura-DemiBold";
        font-size: 15px;
        color: #818181;
        text-decoration-skip-ink: none
    }

    &__form-button {
        padding: 41px 0 0;

        button {
            margin: 0 auto;

            @media (max-width: 799px) {
                max-width: 95%;
            }
        }
    }

    &__footer {
        padding: 20px 0 0;
        
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Jura-DemiBold";
            color: #fff;
        }

        a {
            color: #fff;
        }
    }

    &__footer-phone {
        order: 1;
        font-family: "RussoOne";
        font-size: 20px;

        a {
            display: inline-block;
            vertical-align: top;
            padding: 13px 0 0;
            text-decoration: none;
            margin: 0 0 0 20px;
        }
    }

    &__footer-phone_icon {
        display: inline-block;
        vertical-align: top;
        width: 36px;
        height: 36px;
        text-align: center;
        padding: 9px 2px 0 0;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        margin: 9px 0 0;

        img {
            transform: rotate(-45deg);
        }
    }

    &__footer-mail {
        order: 2;
        padding: 17px 0 0;
        font-size: 18px;
        letter-spacing: -0.6px;
    }

    &__footer-logo {
        order: 0;

        img {
            width: 260px;
        }
    }

    &__footer-address {
        order: 3;
        width: 250px;
        padding: 15px 0 0;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.6px;
        text-align: center;
        margin: 0 auto;
    }

    &__footer-copy {
        order: 4;
        padding: 15px 0 0;
        font-size: 15px;
        letter-spacing: -0.6px;
    }
}