.first {
    position: relative;
    background: url('../images/first/first_bg_750.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    
    &__left {
        padding: 28px 0 0;
        color: #fff;
    }

    &__logo {
        text-align: center;
        margin: 0 0 12px;

        img {
            width: 270px;
            margin: 0 0 0 15px;
        }
    }

    &__title {
        width: 400px;
        max-width: 100%;
        padding: 0 0 14px;
        text-align: center;
        border-bottom: 2px #dbdbdb solid;
        margin: 0 auto 5px;

        h1 {
            font-family: "RoadRadio";
            font-weight: 400;
            font-size: 25px;
            line-height: 28px;
            text-transform: none;
            letter-spacing: -0.5px;
            margin: 0;

            @media (max-width: 400px) {
                letter-spacing: -2.5px;
            }

            @media (max-width: 799px){
                font-size: 16px;
                line-height: 26px;

                br {
                    display: none;
                }
            }
        }
        
        span {
            font-family: "RoadRadio-Black";
            text-transform: uppercase;
            font-size: 35px;
        }

        b {
            font-family: "RoadRadio";
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 400;

            @media (max-width: 799px) {
                font-size: 24px;
            }
        }
    }

    &__context {
        counter-reset: myCounter;
        padding: 25px 78px 8px;
        margin: 0;

        @media (max-width: 799px) {
            padding: 1px 0 9px;
        }

        li {
            position: relative;
            display: block;
            padding: 0 0 0 19px;
            font-family: "Jura-DemiBold";
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.8px;
            margin: 0 0 15px 53px;

            @media (max-width: 799px) {
                padding: 0;
                text-align: center;
                margin: 74px 0 15px;
            }
        }

        li:before {
            counter-increment: myCounter;
            content: counter(myCounter);
            position: absolute;
            top: calc(50% - 30px);
            left: -60px;
            display: inline-block;
            vertical-align: top;
            height: 52px;
            width: 52px;
            font-family: "RussoOne";
            font-size: 40px;
            text-align: center;
            color: white;
            border-radius: 10px;
            border: 1px solid #754145;
            background: #240003;
            padding: 15px 0 0;

            @media (max-width: 799px) {
                top: -60px;
                left: calc(50% - 26px);
            }
        }
    }

    &__right {
        display: none;
        height: 0;
    }

    &__footer {
        padding: 0 0 19px;
        letter-spacing: -0.6px;
        text-align: center;
        color: #fff;
        background-color: rgb(238, 18, 41);
        opacity: 0.8;

        @media (max-width: 799px) {
            padding: 0 0 30px;
        }
    }

    &__footer-title {
        padding: 15px 79px 0;
        font-family: "Jura-DemiBold";
        font-size: 16px;
        margin: 0 0 12px;

        @media (max-width: 799px) {
            padding: 15px 0 0;
            line-height: 18px;
            margin: 0 0 9px;
        }
    }

    &__footer-button {
        img {
            display: none;
        }

        a {
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 15px;
            font-family: "RoadRadio-Light";
            font-size: 20px;
            text-transform: uppercase;
            text-decoration-skip-ink: none;
            color: #fff;
            margin: 5px 0 0;
        }
    }
}

