.form_too {
    padding: 0 0 40px;
    position: relative;
    background-color: #000;
    background: url('../images/form_too/form_too_bg.jpg') left center no-repeat;
    background-size: cover;
    margin: -5px 0 0;

    .container {
        padding: 0 98px;

        @media (max-width: 799px) {
            padding: 0 4.6875%;
        }
    }

    &__title {
        width: 600px;
        padding: 70px 0 9px;
        font-family: "RoadRadio-Bold";
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: -0.8px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        border-bottom: 2px solid #fff;
        margin: 5px auto 31px;

        @media (max-width: 799px) {
            width: 100%;
            padding: 76px 0 7px;
            font-size: 25px;
            margin: 5px auto 20px;
        }
    }

    &__button {
        margin: 14px 0 40px;

        .button--red {
            width: 470px;
            height: 50px;
            margin: 0 auto;
            
            @media (max-width: 799px) {
                width: 290px;
                font-size: 18px;
            }
        }

    }
}
