.fourteenth {
    overflow: hidden;

    &__outer {
    }

    &__title {
        padding: 40px 0 50px;
        font-family: "RussoOne";
        font-size: 30px;
        letter-spacing: -0.6px;
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        background-color: #000;
    }

    &__map {
        width: 100%;
        height: 400px;
    }
}