.fourteenth {
    position: relative;
    padding: 56.75% 0 0;
    background: url('../images/fourteenth/fourteenth_bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: -83px;
        left: -224px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);

        @media (max-width: 1599px) {
            left: -316px
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: -83px;
        right: -202px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);

        @media (max-width: 1599px) {
            right: -331px;
        }
    }

    &__outer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__title {
        padding: 111px 111px 0 0;
        font-family: "RussoOne";
        font-size: 40px;
        letter-spacing: -0.6px;
        color:#fff;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 1599px) {
            padding: 60px 111px 0 0;
            font-size: 32px;
        }
    }
}