.second {
    background: url('../images/second/second_bg_750.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__inner {
    }

    &__logo {
        padding: 16px 0 0;
        text-align: center;

        img {
            width: 270px;
        }
    }

    &__info {
        color: #fff;
    }
}

.tab {
    width: 470px;
    font-family: "RoadRadio-Bold";
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: -0.9px;
    text-transform: none;
    text-shadow: 0px 2px 9.5px rgba(0, 0, 0, 0.3);
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0 auto 34px;

    td {
        border-radius: 3px;
        padding: 10px 5px 10px 15px;

        .tab__large {
            display: inline-block;
            vertical-align: top;
            width: 150%;
        }
    }
    
    &__title {
        font-family: "RussoOne";
        font-size: 35px;
        letter-spacing: -1.5px;
        transform: translate3d(-50px, 0, 0);
    }

    &__red {
        width: 125px;
        padding: 3px 5px 3px 0 !important;
        font-size: 32px;
        text-align: center;
        background-color: #bf1e2e;

        &--last {
            padding: 5px 0px 6px 8px !important;
            font-size: 22px;
            letter-spacing: -2px;
        }
    }
}