.sixth {
    padding: 0 0 100px;
    background: url('../images/sixth/sixth_bg_750.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__outer {
        text-align: left;
    }

    &__inner {

    }

    &__title {
        padding: 28px 0 0 0;
        font-family: "RussoOne";
        font-size: 30px;
        line-height: 50px;
        letter-spacing: -0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #bf1e2e;
        margin: 0 0 21px;

        @media (max-width: 799px) {
            margin: 0 0 13px;
        }

    
        span {
            display: inline-block;
            vertical-align: top;
            padding: 0 20px 0 0;
            font-size: 20px;
            line-height: 25px;
            color: #000;
        }
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    &__col-one {
        padding: 46px 0 0 5px;
    }

    &__col-too {
        display: flex;
        justify-content: flex-start;
        width: 400%;
    }

    &__item {
        width: 25%;
        margin: 0 0 31px;
    }

    &__item-image {
        text-align: center;
        margin: 0 0 -35px;

        @media (max-width: 799px) {
            margin: -11px 0 -35px;
        }

        img {
            width: 200px;
        }
    }
    

    &__item-content {
        padding: 29px 0 0;
        margin: 0 0 0;
    }
    
    &__item-title {
        max-width: 470px;
        padding: 0 0 3px;
        font-family: "RoadRadio-Bold";
        font-size: 25px;
        letter-spacing: -0.6px;
        border-bottom: 1px solid #d9969c;
        margin: 0 0 10px;

        b {
            font-size: 20px;
            font-weight: bold;
        }

        @media (max-width: 799px) {
            margin: 0 0 10px 20px;
        }
    }

    &__item-text {
        padding: 0 0 0;
        font-family: "Jura-DemiBold";
        font-size: 18px;
    }

    &__pagination {
        text-align: center;
    }

    &__pagination-item {
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #bf1e2e;
        margin: 0 0 0 10px;
        cursor: pointer;

        &:first-child {
            margin: 0;
        }

        &.is-active {
            background-color: #bf1e2e;
            pointer-events: none;
        }
    }
}

.calculator {
    width: 470px;
    padding: 22px 87px;
    color: #fff;
    border-radius: 2px;
    background-image: linear-gradient(to right, #bf1e2e, #c35e68);
    box-shadow: 0px 1px 5.7px 0.3px rgba(0, 0, 0, 0.3);
    margin: 0 auto;

    @media (max-width: 799px) {
        width: 290px;
        padding: 22px 20px;
    }

    &__title {
        padding: 0 0 11px;
        font-family: "RoadRadio-Bold";
        font-size: 25px;
        letter-spacing: -0.8px;
        border-bottom: 2px solid #fff;

        @media (max-width: 799px) {
            padding: 0 0 7px;
            text-align: center;
        }
    }
    
    &__list {
        padding: 18px 0 0 22px;
        font-family: "Jura-DemiBold";
        font-size: 16px;
        border-bottom: 2px solid #da4453;
        margin: 0 30px 21px;

        @media (max-width: 799px) {
            margin: 0 0 21px;
        }
        
        input {
            display: none;
            
            &:checked + label:after {
                background-color: #000;
            }
        }
        
        label {
            position: relative;
            display: block;
            margin: 0 0 20px 19px;
            cursor: pointer;

            &:last-child {
                margin: 0 0 21px 19px;
            }

            &:after {
                content: '\2713';
                position: absolute;
                top: 3px;
                left: -29px;
                display: inline-block;
                vertical-align: top;
                width: 15px;
                height: 15px;
                font-size: 12px;
                color: #fff;
                text-align: center;
                background-color: #fff;
                border-radius: 50%;
                border: 1px solid #000;
                transition: background-color 0.5s;
            }
        }
    }

    &__result-title {
        font-family: "RoadRadio-Bold";
        font-size: 16px;
        margin: 0 30px 9px;

        @media (max-width: 799px) {
            margin: 0 0 9px;
        }
    }
    
    &__result-month,
    &__result-year {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        font-family: "RoadRadio-Bold";
        font-size: 16px;
        line-height: 0.8;
        border-top: 1px solid #da4453;
        margin: 0 30px -7px;

        @media (max-width: 799px) {
            margin: 0 0 -7px;
        }

        span {
            font-size: 18px;
        }
    }
}

