.tenth {
    height: 310px;
    overflow: hidden;

    &__title {
        padding: 32px 0 0;
        font-family: "RussoOne";
        font-size: 30px;
        letter-spacing: -0.7px;
        text-transform: uppercase;
        margin: 0 0 65px;
    }

    &__title--red  {
        color: #bf1e2e;
        text-align: center;
        margin: 0 0;
    }

    &__title--dark {
        color: #000;
        text-align: center;
    }

    &__logo {
        padding: 0 0 0 6px;
        text-align: center;

        img {
            max-width: 45%;
        }
    }
}