.thirteenth {
    padding: 0 0 60px;
    background: url('../images/thirteenth/thirteenth_bg_750.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__outer {
        color: #000;
    }

    &__title {
        padding: 33px 0 0 29px;
        font-family: "RussoOne";
        font-size: 30px;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        margin: 0 0 39px;

        @media (max-width: 799px) {
            padding: 33px 0 0;
            font-size: 25px;
            text-align: center;
        }
    }

    &__title--red {
        display: block;
        color: #bf1e2e;
        text-align: center;
        margin: 0 0 -2px;

        @media (max-width: 799px) {
            display: inline;
        }
    }

    &__title--dark {
        display: block;
        color: #000;
        text-align: center;

        @media (max-width: 799px) {
            display: inline;
        }
    }

    &__player {
        margin: 0 0 0;

        .video {
            width: 581px;
            height: 288px;
            margin: 0 auto;
        }
    }

    &__player-descr {
        display: flex;
        flex-direction: column-reverse;
        font-family: "RoadRadio-Black";
        font-size: 25px;
        margin: 0 0 0 0;
        
        span {
            display: block;
            font-family: "RoadRadio-Bold";
            font-size: 20px;
        }
    }
    
    &__player-title  {
        position: relative;
        padding: 19px 16px 24px 24px;
        margin: 0 0 23px;

        br {
            display: none;
        }
    }

    &__playr-decor--top,
    &__playr-decor--bottom {
        position: absolute;
        width: 30px;
        height: 30px;

    }

    &__playr-decor--top{
        top: 0;
        left: 0;
    }

    &__playr-decor--bottom {
        bottom: 0;
        right: 0;

        .icon {
            transform: rotate(180deg);
        }
    }

    &__player-address {
        width: 581px;
        font-family: "RoadRadio";
        font-size: 18px;
        margin: 12px auto;

        .icon {
            margin: 0 3px 0 0;
        }
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .twelfth__item {
            position: relative;
            color: #000;

            img {
                width: 300px;
                height: 200px;
            }

            &:after {
                content: '';
                position: absolute;
                top: calc(50% - 35px);
                left: calc(50% - 35px);
                width: 70px;
                height: 70px;
                @include sprite($play-big);
            }
        }
    }

    &__button .button--red {
        width: 460px;
        height: 50px;
        margin: 0 auto;
    }
}

.video {
    position: relative;
    font-size: 0;
    border: 2px solid #bf1e2e;

    &.is-active {
        video {
            transition: visibility 0s linear;
            visibility: visible;
        }

        .video__overlay {
            opacity: 0;
        }

        .video__btn {
            pointer-events: none;
        }
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background: #000;
        transition: visibility 0.5s linear;
        visibility: hidden;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 21.25% 0 0;
        background: none no-repeat 50% 50%;
        background-size: cover;
        transition: opacity 0.5s ease;
        pointer-events: none;
        overflow: hidden;

        &:hover {
            .video__overlay-hover {
                opacity: 1;
                transform: scale(1.2) translate3d(0, 0, 0);
                transition: opacity 0.5s linear, transform 60s 0.25s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }

    &__overlay-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: none no-repeat 50% 50%;
        background-size: cover;
        transition: opacity 0.5s ease, transform 0.5s 0.5s ease;
    }

    &__btn {
        position: relative;
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        transition: background 0.5s;
        margin: 0 auto 25px;
        pointer-events: all;
    }
}
