.third {
    position: relative;
    padding: 56.75% 0 0;
    background: url('../images/third/thr_bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: -83px;
        right: -202px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -83px;
        left: -224px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 111px 0 0;

        .container {
            text-align: left;
        }
    }

    &__title {
        padding: 0 100px 0 0;
        font-size: 40px;
        font-family: "RussoOne";
        letter-spacing: -0.6px;
        color: #bf1e2e;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        margin: 0 0 119px;

        span {
            padding: 0 10px 0 0;
            color: #000;
        }
    }

    &__content {
        position: relative;
        width: 83.33%;
        height: 465px;
        overflow: hidden;
    }

    &__content-decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__content-decor--angle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .icon {
            position: absolute;

            &:first-child {
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                top: 0;
                right: 0;
                transform: rotate(90deg);
            }

            &:nth-child(3) {
                bottom: 0;
                right: 0;
                transform: rotate(180deg);
            }

            &:nth-child(4) {
                bottom: 0;
                left: 0;
                transform: rotate(270deg);
            }
        }
    }

    &__content-decor--pluses {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .icon {
            position: absolute;
            top: calc(50% - 15px);

            &:first-child {
                left: 20%;
            }

            &:nth-child(2) {
                left: 40%;
            }

            &:nth-child(3) {
                left: 60%;
            }

            &:nth-child(4) {
                left: 80%;
            }
        }
    }

    &__content-items {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    &__item {
        width: 20%;
        padding: 29px 15px 121px;
        text-align: center;
    }

    &__item-img {
        .icon {
            transform: scale(0.9);
        }
    }

    &__item--text {
        font-family: "Jura-DemiBold";
        font-size: 18px;
        letter-spacing: -0.5px;
    }
}

