.third {
    padding: 0 0 40px;
    background: url('../images/third/thr_bg_750.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__title {
        padding: 36px 0 13px;
        font-size: 30px;
        font-family: "RussoOne";
        letter-spacing: -0.6px;
        color: #bf1e2e;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;

        span {
            padding: 0 10px 0 0;
            color: #000;
        }
    }

    &__content {
        position: relative;
        padding: 31px 0;

    }

    &__content-decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__content-decor--angle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .icon {
            position: absolute;

            &:first-child {
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                top: 0;
                right: 0;
                transform: rotate(90deg);
            }

            &:nth-child(3) {
                bottom: 0;
                right: 0;
                transform: rotate(180deg);
            }

            &:nth-child(4) {
                bottom: 0;
                left: 0;
                transform: rotate(270deg);
            }
        }
    }

    &__content-decor--pluses {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .icon {
            position: absolute;
            left: calc(50% - 15px);

            &:first-child {
                top: 16%;
            }

            &:nth-child(2) {
                top: 36%;
            }

            &:nth-child(3) {
                top: 56%;
            }

            &:nth-child(4) {
                top: 76%;
            }
        }
    }

    &__content-items {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
    }

    &__item {
        width: 45%;
        padding: 0;
        text-align: center;
        margin: 0 0 84px;
    }

    &__item-img {
        margin: 0 0 8px;
        .icon {
            transform: scale(0.9);
        }
    }

    &__item--text {
        font-family: "Jura-DemiBold";
        font-size: 16px;
        letter-spacing: -0.5px;

        br {
            display: none;
        }
    }
}

