.twelfth {
    position: relative;
    padding: 56.75% 0 0;
    background: url('../images/twelfth/twelfth_bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: -83px;
        left: -224px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);

        @media (max-width: 1599px) {
            left: -316px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: -83px;
        right: -202px;
        width: 550px;
        height: 300px;
        background-color: #bf1e2e;
        transform: rotate(45deg);
        box-shadow: 0px 0px 9.1px 3.9px rgba(0, 0, 0, 0.2);

        @media (max-width: 1599px) {
            right: -331px;
        }
    }

    &__outer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }

    &__inner {
        padding: 112px 16.67% 0 8.33%;

        @media (max-width: 1919px) {
            padding: 40px 16.67% 0 8.33%;
        }
    }

    &__title {
        padding: 0 0 63px 15px;
        font-family: "RussoOne";
        font-size: 40px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        @media (max-width: 1919px) {
            padding: 0 0 23px 15px;
        }

        @media (max-width: 1599px) {
            font-size: 28px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 0 2px;
    }

    &__item {
        font-family: "RoadRadio";
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        margin: 5px 0 51px;

        img {
            display: block;
            border: 2px solid #bf1e2e;
            transition: box-shadow 0.5s ease;
            margin: 0 0 5px;
        }

        @media (max-width: 1599px) {
            font-size: 13px;

            img {
                width: 22vw;
            }
        }

        &:hover img {
            box-shadow: 0 0 15px 8px rgba(#fff, 0.4);
        }
    }

    &__button {
        @media (max-width: 1919px) {
            button.button--red {
                margin: 0 auto;
            }
        }
    }
}

