@font-face {
  font-family: "RoadRadio-Black";
  src: url("../fonts/RoadRadio/RoadRadio-Black.woff") format("woff"),
  url("../fonts/RoadRadio/RoadRadio-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "RoadRadio-Bold";
  src: url("../fonts/RoadRadio/RoadRadio-Bold.woff") format("woff"),
    url("../fonts/RoadRadio/RoadRadio-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio/RoadRadio.woff") format("woff"),
    url("../fonts/RoadRadio/RoadRadio.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RoadRadio-Light";
  src: url("../fonts/RoadRadio/RoadRadio-Light.woff") format("woff"),
    url("../fonts/RoadRadio/RoadRadio-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RoadRadio-Thin";
  src: url("../fonts/RoadRadio/RoadRadio-Thin.woff") format("woff"),
    url("../fonts/RoadRadio/RoadRadio-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Jura-Book";
  src: url("../fonts/jura/Jura-Book.woff") format("woff"),
    url("../fonts/jura/Jura-Book.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Jura-DemiBold";
  src: url("../fonts/jura/Jura-DemiBold.woff") format("woff"),
    url("../fonts/jura/Jura-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jura-Light";
  src: url("../fonts/jura/Jura-Light.woff") format("woff"),
    url("../fonts/jura/Jura-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jura-Medium";
  src: url("../fonts/jura/Jura-Medium.woff") format("woff"),
    url("../fonts/jura/Jura-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RussoOne";
  src: url("../fonts/RussoOne.woff") format("woff"),
    url("../fonts/RussoOne.woff2") format("woff2");
  font-style: normal;
}
