// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$angle-name: 'angle';
$angle-x: 180px;
$angle-y: 150px;
$angle-offset-x: -180px;
$angle-offset-y: -150px;
$angle-width: 29px;
$angle-height: 29px;
$angle-total-width: 240px;
$angle-total-height: 180px;
$angle-image: '../images/sprite.png';
$angle: (180px, 150px, -180px, -150px, 29px, 29px, 240px, 180px, '../images/sprite.png', 'angle', );
$calendar-name: 'calendar';
$calendar-x: 0px;
$calendar-y: 0px;
$calendar-offset-x: 0px;
$calendar-offset-y: 0px;
$calendar-width: 60px;
$calendar-height: 60px;
$calendar-total-width: 240px;
$calendar-total-height: 180px;
$calendar-image: '../images/sprite.png';
$calendar: (0px, 0px, 0px, 0px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'calendar', );
$chat-name: 'chat';
$chat-x: 60px;
$chat-y: 0px;
$chat-offset-x: -60px;
$chat-offset-y: 0px;
$chat-width: 60px;
$chat-height: 60px;
$chat-total-width: 240px;
$chat-total-height: 180px;
$chat-image: '../images/sprite.png';
$chat: (60px, 0px, -60px, 0px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'chat', );
$contract-name: 'contract';
$contract-x: 0px;
$contract-y: 60px;
$contract-offset-x: 0px;
$contract-offset-y: -60px;
$contract-width: 60px;
$contract-height: 60px;
$contract-total-width: 240px;
$contract-total-height: 180px;
$contract-image: '../images/sprite.png';
$contract: (0px, 60px, 0px, -60px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'contract', );
$employee-name: 'employee';
$employee-x: 60px;
$employee-y: 60px;
$employee-offset-x: -60px;
$employee-offset-y: -60px;
$employee-width: 60px;
$employee-height: 60px;
$employee-total-width: 240px;
$employee-total-height: 180px;
$employee-image: '../images/sprite.png';
$employee: (60px, 60px, -60px, -60px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'employee', );
$group-name: 'group';
$group-x: 120px;
$group-y: 0px;
$group-offset-x: -120px;
$group-offset-y: 0px;
$group-width: 60px;
$group-height: 60px;
$group-total-width: 240px;
$group-total-height: 180px;
$group-image: '../images/sprite.png';
$group: (120px, 0px, -120px, 0px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'group', );
$joystick-name: 'joystick';
$joystick-x: 120px;
$joystick-y: 60px;
$joystick-offset-x: -120px;
$joystick-offset-y: -60px;
$joystick-width: 60px;
$joystick-height: 60px;
$joystick-total-width: 240px;
$joystick-total-height: 180px;
$joystick-image: '../images/sprite.png';
$joystick: (120px, 60px, -120px, -60px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'joystick', );
$performance-name: 'performance';
$performance-x: 0px;
$performance-y: 120px;
$performance-offset-x: 0px;
$performance-offset-y: -120px;
$performance-width: 60px;
$performance-height: 60px;
$performance-total-width: 240px;
$performance-total-height: 180px;
$performance-image: '../images/sprite.png';
$performance: (0px, 120px, 0px, -120px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'performance', );
$pie-chart-name: 'pie-chart';
$pie-chart-x: 60px;
$pie-chart-y: 120px;
$pie-chart-offset-x: -60px;
$pie-chart-offset-y: -120px;
$pie-chart-width: 60px;
$pie-chart-height: 60px;
$pie-chart-total-width: 240px;
$pie-chart-total-height: 180px;
$pie-chart-image: '../images/sprite.png';
$pie-chart: (60px, 120px, -60px, -120px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'pie-chart', );
$plus-red-name: 'plus-red';
$plus-red-x: 180px;
$plus-red-y: 120px;
$plus-red-offset-x: -180px;
$plus-red-offset-y: -120px;
$plus-red-width: 30px;
$plus-red-height: 30px;
$plus-red-total-width: 240px;
$plus-red-total-height: 180px;
$plus-red-image: '../images/sprite.png';
$plus-red: (180px, 120px, -180px, -120px, 30px, 30px, 240px, 180px, '../images/sprite.png', 'plus-red', );
$plus-name: 'plus';
$plus-x: 210px;
$plus-y: 120px;
$plus-offset-x: -210px;
$plus-offset-y: -120px;
$plus-width: 30px;
$plus-height: 30px;
$plus-total-width: 240px;
$plus-total-height: 180px;
$plus-image: '../images/sprite.png';
$plus: (210px, 120px, -210px, -120px, 30px, 30px, 240px, 180px, '../images/sprite.png', 'plus', );
$price-tag-name: 'price-tag';
$price-tag-x: 120px;
$price-tag-y: 120px;
$price-tag-offset-x: -120px;
$price-tag-offset-y: -120px;
$price-tag-width: 60px;
$price-tag-height: 60px;
$price-tag-total-width: 240px;
$price-tag-total-height: 180px;
$price-tag-image: '../images/sprite.png';
$price-tag: (120px, 120px, -120px, -120px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'price-tag', );
$security-name: 'security';
$security-x: 180px;
$security-y: 0px;
$security-offset-x: -180px;
$security-offset-y: 0px;
$security-width: 60px;
$security-height: 60px;
$security-total-width: 240px;
$security-total-height: 180px;
$security-image: '../images/sprite.png';
$security: (180px, 0px, -180px, 0px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'security', );
$team-name: 'team';
$team-x: 180px;
$team-y: 60px;
$team-offset-x: -180px;
$team-offset-y: -60px;
$team-width: 60px;
$team-height: 60px;
$team-total-width: 240px;
$team-total-height: 180px;
$team-image: '../images/sprite.png';
$team: (180px, 60px, -180px, -60px, 60px, 60px, 240px, 180px, '../images/sprite.png', 'team', );
$spritesheet-width: 240px;
$spritesheet-height: 180px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($angle, $calendar, $chat, $contract, $employee, $group, $joystick, $performance, $pie-chart, $plus-red, $plus, $price-tag, $security, $team, );
$spritesheet: (240px, 180px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
