/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@font-face {
    font-family: "RoadRadio-Black";
    src: url("../fonts/RoadRadio/RoadRadio-Black.woff") format("woff"), url("../fonts/RoadRadio/RoadRadio-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "RoadRadio-Bold";
    src: url("../fonts/RoadRadio/RoadRadio-Bold.woff") format("woff"), url("../fonts/RoadRadio/RoadRadio-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "RoadRadio";
    src: url("../fonts/RoadRadio/RoadRadio.woff") format("woff"), url("../fonts/RoadRadio/RoadRadio.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "RoadRadio-Light";
    src: url("../fonts/RoadRadio/RoadRadio-Light.woff") format("woff"), url("../fonts/RoadRadio/RoadRadio-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "RoadRadio-Thin";
    src: url("../fonts/RoadRadio/RoadRadio-Thin.woff") format("woff"), url("../fonts/RoadRadio/RoadRadio-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Jura-Book";
    src: url("../fonts/jura/Jura-Book.woff") format("woff"), url("../fonts/jura/Jura-Book.woff2") format("woff2");
    font-style: normal
}

@font-face {
    font-family: "Jura-DemiBold";
    src: url("../fonts/jura/Jura-DemiBold.woff") format("woff"), url("../fonts/jura/Jura-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Jura-Light";
    src: url("../fonts/jura/Jura-Light.woff") format("woff"), url("../fonts/jura/Jura-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Jura-Medium";
    src: url("../fonts/jura/Jura-Medium.woff") format("woff"), url("../fonts/jura/Jura-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "RussoOne";
    src: url("../fonts/RussoOne.woff") format("woff"), url("../fonts/RussoOne.woff2") format("woff2");
    font-style: normal
}

html {
    box-sizing: border-box
}

body {
    position: relative;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.25
}

*,
*:before,
*:after {
    box-sizing: inherit
}

ul,
ol {
    list-style-type: none
}

.clearfix:after {
    content: '';
    display: table;
    clear: both
}

.container {
    width: 100%;
    padding: 0 4.6875%;
    margin: 0 auto
}

button.button--red {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 50px;
    font-family: "Jura-DemiBold";
    font-size: 20px;
    letter-spacing: -0.6px;
    color: #fff;
    border-radius: 3px;
    border: none;
    background-color: #bf1e2e;
    opacity: 1;
    transition: box-shadow 0.5s ease, opacity 0.5s ease
}

button.button--red span {
    position: relative;
    z-index: 3
}

button.button--red:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    background-image: linear-gradient(to top, #c02232, #cf5561);
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease
}

button.button--red:hover {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.4)
}

button.button--red:hover:after {
    opacity: 1
}

.icon {
    display: inline-block;
    vertical-align: top
}

.icon-totop {
    background-image: url(../images/sprite.png);
    background-position: -180px -136px;
    width: 16px;
    height: 30px
}

.icon-mouse-red {
    background-image: url(../images/sprite.png);
    background-position: -262px -102px;
    width: 30px;
    height: 44px
}

.icon-arrow-red {
    background-image: url(../images/sprite.png);
    background-position: -222px -180px;
    width: 20px;
    height: 13px
}

.icon-mouse-white {
    background-image: url(../images/sprite.png);
    background-position: -262px -146px;
    width: 30px;
    height: 44px
}

.icon-arrow-white {
    background-image: url(../images/sprite.png);
    background-position: -242px -180px;
    width: 20px;
    height: 13px
}

.icon-menu-select {
    background-image: url(../images/sprite.png);
    background-position: -142px -120px;
    width: 19px;
    height: 13px
}

.icon-mobmenu {
    background-image: url(../images/sprite.png);
    background-position: -202px -180px;
    width: 20px;
    height: 14px
}

.icon-swipe {
    background-image: url(../images/sprite.png);
    background-position: -262px -65px;
    width: 40px;
    height: 37px
}

.icon-close {
    background-image: url(../images/sprite.png);
    background-position: -149px -196px;
    width: 25px;
    height: 25px
}

.icon-play {
    background-image: url(../images/sprite.png);
    background-position: -180px -166px;
    width: 20px;
    height: 20px
}

.icon-play-big {
    background-image: url(../images/sprite.png);
    background-position: 0px -66px;
    width: 70px;
    height: 70px
}

.icon-plus-red-mini {
    background-image: url(../images/sprite.png);
    background-position: -77px -118px;
    width: 18px;
    height: 18px
}

.icon-elem-bg {
    background-image: url(../images/sprite.png);
    background-position: 0px 0px;
    width: 77px;
    height: 66px
}

.icon-angle {
    background-image: url(../images/sprite.png);
    background-position: -120px -196px;
    width: 29px;
    height: 29px
}

.icon-plus {
    background-image: url(../images/sprite.png);
    background-position: -262px -220px;
    width: 30px;
    height: 30px
}

.icon-plus-red {
    background-image: url(../images/sprite.png);
    background-position: -262px -190px;
    width: 30px;
    height: 30px
}

.icon-myself {
    background-image: url(../images/sprite.png);
    background-position: -262px 0px;
    width: 44px;
    height: 65px
}

.icon-withus {
    background-image: url(../images/sprite.png);
    background-position: -77px 0px;
    width: 65px;
    height: 58px
}

.icon-calendar {
    background-image: url(../images/sprite.png);
    background-position: -77px -58px;
    width: 60px;
    height: 60px
}

.icon-chat {
    background-image: url(../images/sprite.png);
    background-position: -142px 0px;
    width: 60px;
    height: 60px
}

.icon-contract {
    background-image: url(../images/sprite.png);
    background-position: -142px -60px;
    width: 60px;
    height: 60px
}

.icon-employee {
    background-image: url(../images/sprite.png);
    background-position: 0px -136px;
    width: 60px;
    height: 60px
}

.icon-group {
    background-image: url(../images/sprite.png);
    background-position: -60px -136px;
    width: 60px;
    height: 60px
}

.icon-joystick {
    background-image: url(../images/sprite.png);
    background-position: -120px -136px;
    width: 60px;
    height: 60px
}

.icon-performance {
    background-image: url(../images/sprite.png);
    background-position: -202px 0px;
    width: 60px;
    height: 60px
}

.icon-pie-chart {
    background-image: url(../images/sprite.png);
    background-position: -202px -60px;
    width: 60px;
    height: 60px
}

.icon-price-tag {
    background-image: url(../images/sprite.png);
    background-position: -202px -120px;
    width: 60px;
    height: 60px
}

.icon-security {
    background-image: url(../images/sprite.png);
    background-position: 0px -196px;
    width: 60px;
    height: 60px
}

.icon-team {
    background-image: url(../images/sprite.png);
    background-position: -60px -196px;
    width: 60px;
    height: 60px
}

.nav {
    display: none;
}

.nav-mobile {
    position: absolute;
    top: 34px;
    right: 30px;
}

.nav-mobile.is-scrolled {
    position: fixed;
}

@media (max-width: 430px) {
    .nav-mobile {
        top: 91px;
    }
}

.nav-mobile.is-open {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation-name: fadePopup;
    animation-duration: 0.5s;
    animation-timing-function: ease
}

.nav-mobile__icon {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 9px 2px 0 0;
    background-color: #fff;
    transform: rotate(45deg);
    margin: 9px 0 0;
    box-shadow: 0 0 10px 3px #fff;
    cursor: pointer;
}

.nav-mobile__icon-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 3px 0 0;
    background-color: #fff;
    transform: rotate(45deg);
    margin: 9px 0 0;
    cursor: pointer;
    opacity: 0.5;
}

.nav-mobile__icon-top .icon-totop {
    transform: rotate(-45deg);
}

.nav-mobile.is-scrolled .nav-mobile__icon-top {
    display: inline-block;
    vertical-align: top;
}

.nav-mobile.is-scrolled .nav-mobile__icon {
    box-shadow: none;
    opacity: 0.5;
}

.nav-mobile__icon .icon-mobmenu {
    transform: rotate(-45deg);
    margin: 2px 0 0 2px;
}

.nav-mobile.is-open .nav-mobile__icon {
    display: none;
}

.nav-mobile__list {
    display: none;
}

.nav-mobile.is-open .nav-mobile__list {
    display: block;
    width: 100%;
    height: 100%;
    padding: 83px 0 0 46px;
    background-color: #fff;
}

.nav-mobile__list-close {
    position: absolute;
    top: 30px;
    right: 30px;

}
.nav-mobile__list-close .icon-plus-red {
    transform: rotate(-45deg)
}
 
.nav-mobile__menu li {
    position: relative;
    margin: 0 0 20px;
}

.nav-mobile__menu li.is-active:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -29px;
    background-image: url(../images/sprite.png);
    background-position: -142px -120px;
    width: 19px;
    height: 13px
}

.nav-mobile__menu li > a {
    font-family: "Jura-DemiBold";
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.nav-mobile__menu li>a>b {
     font-family: "RussoOne";
     margin: 0 10px 0 0;
}

.first {
    position: relative;
    background: url("../images/first/first_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.first__left {
    padding: 28px 0 0;
    color: #fff
}

.first__logo {
    text-align: center;
    margin: 0 0 12px
}

.first__logo img {
    width: 270px;
    margin: 0 0 0 15px
}

.first__title {
    width: 400px;
    max-width: 100%;
    padding: 0 0 14px;
    text-align: center;
    border-bottom: 2px #dbdbdb solid;
    margin: 0 auto 5px
}

.first__title h1 {
    font-family: "RoadRadio";
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    text-transform: none;
    letter-spacing: -0.5px;
    margin: 0
}

@media (max-width: 400px) {
    .first__title h1 {
        letter-spacing: -2.5px
    }
}

@media (max-width: 799px) {
    .first__title h1 {
        font-size: 16px;
        line-height: 26px
    }

    .first__title h1 br {
        display: none
    }
}

.first__title span {
    font-family: "RoadRadio-Black";
    text-transform: uppercase;
    font-size: 35px
}

.first__title b {
    font-family: "RoadRadio";
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400
}

@media (max-width: 799px) {
    .first__title b {
        font-size: 24px
    }
}

.first__context {
    counter-reset: myCounter;
    padding: 25px 78px 8px;
    margin: 0
}

@media (max-width: 799px) {
    .first__context {
        padding: 1px 0 9px
    }
}

.first__context li {
    position: relative;
    display: block;
    padding: 0 0 0 19px;
    font-family: "Jura-DemiBold";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.8px;
    margin: 0 0 15px 53px
}

@media (max-width: 799px) {
    .first__context li {
        padding: 0;
        text-align: center;
        margin: 74px 0 15px
    }
}

.first__context li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    top: calc(50% - 30px);
    left: -60px;
    display: inline-block;
    vertical-align: top;
    height: 52px;
    width: 52px;
    font-family: "RussoOne";
    font-size: 40px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 1px solid #754145;
    background: #240003;
    padding: 15px 0 0
}

@media (max-width: 799px) {
    .first__context li:before {
        top: -60px;
        left: calc(50% - 26px)
    }
}

.first__right {
    position: absolute;
    top: 34px;
    left: 30px;
}

@media (max-width: 430px) {
    .first__right {
        top: 90px;
    }
}

.first__right.is-open {
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 91px 0 0 30px;
    background-color: rgba(0,0,0, 0.95);
    animation-name: fadePopup;
    animation-duration: 0.5s;
    animation-timing-function: ease
}

.first__right-close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

.first__right.is-open .first__right-close {
    display: inline-block;
}

.first__right-close .icon-plus-red {
    transform: rotate(-45deg);
    cursor: pointer;
}

.first__right-tel {
    text-align: left
}

.first__right-tel_icon {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 9px 2px 0 0;
    background-color: #bf1e2e;
    transform: rotate(45deg);
    margin: 9px 0 0;
    box-shadow: 0 0 10px 3px #bf1e2e;
    cursor: pointer;
}

.first__right-tel_icon img {
    transform: rotate(-45deg)
}

.first__right-tel_info {
    display: none;
}

.first__right.is-open .first__right-tel_info {
    display: inline-block;
    vertical-align: top;
    letter-spacing: -0.6px
}

.first__right-tel_number a {
    font-family: "RussoOne";
    font-size: 20px;
    color: #fff;
    padding: 0 0 5px 16px;
    text-decoration: none;
}

.first__right-tel_order {
    margin: 0 0 0 15px;
}

.first__right-tel_order a {
    font-family: "RoadRadio-Bold";
    font-size: 17px;
    text-decoration: none;
    color: #bf1e2e
}

.first__footer {
    padding: 0 0 19px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
    background-color: #ee1229;
    opacity: 0.8
}

@media (max-width: 799px) {
    .first__footer {
        padding: 0 0 30px
    }
}

.first__footer-title {
    padding: 15px 79px 0;
    font-family: "Jura-DemiBold";
    font-size: 16px;
    margin: 0 0 12px
}

@media (max-width: 799px) {
    .first__footer-title {
        padding: 15px 0 0;
        line-height: 18px;
        margin: 0 0 9px
    }
}

.first__footer-button img {
    display: none
}

.first__footer-button a {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 15px;
    font-family: "RoadRadio-Light";
    font-size: 20px;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    color: #fff;
    margin: 5px 0 0
}

.form_one {
    height: 310px;
    background: url("../images/first/first_bg_750.png") center top no-repeat;
    background-size: cover;
    margin: -5px 0 0
}

@media (max-width: 799px) {
    .form_one {
        height: 350px
    }
}

.form_one__outer {
    display: none
}

.form_one__inner {
    height: 100%;
    background: rgba(255, 0, 0, 0.4)
}

.form_one__title {
    width: 600px;
    padding: 70px 0 9px;
    font-family: "RoadRadio-Bold";
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 5px auto 31px
}

@media (max-width: 799px) {
    .form_one__title {
        width: 100%;
        padding: 76px 0 7px;
        font-size: 25px;
        margin: 5px auto 20px
    }
}

.form_one__button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 50px;
    font-family: "Jura-DemiBold";
    font-size: 20px;
    letter-spacing: -0.6px;
    color: #bf1e2e;
    border-radius: 2px;
    border: none;
    background-color: #fff;
    transition: box-shadow 0.5s ease;
    margin: 0 auto
}

.form_one__button button:hover {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.4)
}

@media (max-width: 799px) {
    .form_one__button button {
        width: 290px;
        font-size: 18px
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    animation-name: fadePopup;
    animation-duration: 2s;
    animation-timing-function: ease
}

.popup__wrap,
.popup__submited {
    position: relative;
    width: 90%;
    max-width: 492px;
    padding: 50px 0 48px;
    border-radius: 4px;
    background-color: #fff;
    margin: 100px auto 0
}

.popup__title {
    font-family: "RoadRadio-Black";
    font-size: 30px;
    color: #000;
    text-align: center;
    margin: 0 0 23px
}

.popup__content {
    padding: 20px 15px 0
}

.popup__form {
    width: 100%;
    padding: 0 0 28px
}

.popup__form input {
    width: 100%;
    height: 33px;
    font-family: "Jura-DemiBold";
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #818181;
    margin: 5px 0 22px
}

.popup__form button.button--red {
    width: 100%
}

.popup__form-active {
    box-shadow: 0px 0px 2px 0px green;
}

.popup__form-error {
    box-shadow: 0px 0px 2px 0px red;
}

.popup__note {
    font-family: "Jura-DemiBold";
    font-size: 15px;
    color: #818181
}

.popup__clouse {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 25px;
    height: 25px;
    opacity: 0.4;
    cursor: pointer
}

.popup__submited {
    display: none;
    height: 200px;
    text-align: center
}

@-webkit-keyframes fadePopup {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadePopup {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.second {
    background: url("../images/second/second_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.second__logo {
    padding: 16px 0 0;
    text-align: center
}

.second__logo img {
    width: 270px
}

.second__info {
    color: #fff
}

.tab {
    width: 470px;
    font-family: "RoadRadio-Bold";
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: -0.9px;
    text-transform: none;
    text-shadow: 0px 2px 9.5px rgba(0, 0, 0, 0.3);
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0 auto 34px
}

.tab td {
    border-radius: 3px;
    padding: 10px 5px 10px 15px
}

.tab td .tab__large {
    display: inline-block;
    vertical-align: top;
    width: 150%
}

@media (max-width: 799px) {
    .tab td .tab__large {
        width: 100%
    }
}

.tab__title {
    font-family: "RussoOne";
    font-size: 35px;
    letter-spacing: -1.5px;
    transform: translate3d(-50px, 0, 0)
}

@media (max-width: 799px) {
    .tab__title {
        font-size: 30px;
        text-align: center;
        transform: translate3d(0, 0, 0)
    }
}

@media (max-width: 799px) {
    .tab {
        width: 100%;
        font-size: 20px;
        margin: -36px auto 34px
    }

    .tab tr {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap
    }

    .tab td:not(.tab__red),
    .tab td.tab__red--last {
        width: 100%;
        text-align: center
    }

    .tab td.tab__red {
        margin: 0 auto
    }
}

.tab__red {
    width: 125px;
    padding: 3px 5px 3px 0 !important;
    font-size: 32px;
    text-align: center;
    background-color: #bf1e2e
}

.tab__red--last {
    padding: 5px 0px 6px 8px !important;
    font-size: 22px;
    letter-spacing: -2px
}

@media (max-width: 799px) {
    .tab__red {
        width: 125px
    }

    .tab__red--last {
        max-width: 450px;
        font-size: 20px;
        margin: 0 auto
    }
}

.third {
    padding: 0 0 40px;
    background: url("../images/third/thr_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.third__title {
    padding: 36px 0 13px;
    font-size: 30px;
    font-family: "RussoOne";
    letter-spacing: -0.6px;
    color: #bf1e2e;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center
}

.third__title span {
    padding: 0 10px 0 0;
    color: #000
}

@media (max-width: 799px) {
    .third__title {
        width: 110%;
        font-size: 25px;
        background-color: #fff;
        margin: 0 0 9px -5%
    }
}

.third__content {
    position: relative;
    padding: 31px 0
}

.third__content-decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.third__content-decor--angle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.third__content-decor--angle .icon {
    position: absolute
}

.third__content-decor--angle .icon:first-child {
    top: 0;
    left: 0
}

.third__content-decor--angle .icon:nth-child(2) {
    top: 0;
    right: 0;
    transform: rotate(90deg)
}

.third__content-decor--angle .icon:nth-child(3) {
    bottom: 0;
    right: 0;
    transform: rotate(180deg)
}

.third__content-decor--angle .icon:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: rotate(270deg)
}

.third__content-decor--pluses {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media (max-width: 799px) {
    .third__content-decor--pluses {
        display: none
    }
}

.third__content-decor--pluses .icon {
    position: absolute;
    left: calc(50% - 15px)
}

.third__content-decor--pluses .icon:first-child {
    top: 16%
}

.third__content-decor--pluses .icon:nth-child(2) {
    top: 36%
}

.third__content-decor--pluses .icon:nth-child(3) {
    top: 56%
}

.third__content-decor--pluses .icon:nth-child(4) {
    top: 76%
}

.third__content-items {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap
}

.third__item {
    width: 45%;
    padding: 0;
    text-align: center;
    margin: 0 0 84px
}

@media (max-width: 799px) {
    .third__item {
        width: 100%;
        margin: 0 0 11px
    }
}

.third__item-img {
    margin: 0 0 8px
}

.third__item-img .icon {
    transform: scale(0.9)
}

.third__item--text {
    font-family: "Jura-DemiBold";
    font-size: 16px;
    letter-spacing: -0.5px
}

.third__item--text br {
    display: none
}

.fourth {
    overflow: hidden
}

.fourth__bg {
    display: none
}

.fourth__wrapp {
    padding: 34px 0 0
}

@media (max-width: 799px) {
    .fourth__wrapp {
        padding: 38px 0 0
    }
}

.fourth__title {
    padding: 0 0 0 0;
    font-size: 30px;
    font-family: "RussoOne";
    letter-spacing: -0.6px;
    color: #bf1e2e;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 108px
}

@media (max-width: 799px) {
    .fourth__title {
        font-size: 25px;
        margin: 0 0 116px
    }
}

.fourth__title span {
    padding: 0 10px 0 0;
    color: #000
}

.fourth__title br {
    display: none
}

.fourth__content {
    padding: 0 0 0 0
}

.fourth__item {
    position: relative;
    text-align: left;
    margin: 0 0 102px
}

.fourth__item:last-child {
    margin: 0 0 36px
}

.fourth__item-num {
    position: absolute;
    z-index: -1;
    top: -97px;
    left: 134px;
    font-family: "RussoOne";
    font-size: 115px;
    line-height: 1;
    color: #bf1e2e
}

.fourth__item-num:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 50%, #fff 95%)
}

@media (max-width: 799px) {
    .fourth__item-num {
        left: 2px
    }
}

.fourth__item-title {
    position: absolute;
    top: -60px;
    left: 0;
    padding: 0 0 0 209px;
    font-family: "RoadRadio-Bold";
    font-size: 25px;
    opacity: 0.99
}

@media (max-width: 799px) {
    .fourth__item-title {
        top: -83px;
        padding: 0 0 0 71px;
        font-size: 20px;
        text-align: left
    }
}

.fourth__item-title br {
    display: none
}

.fourth__item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 168px;
    padding: 0 12px;
    font-family: "Jura-DemiBold";
    font-size: 18px;
    border: 1px dashed #6a6a6a
}

@media (max-width: 799px) {
    .fourth__item-text {
        height: 231px
    }
}

.fourth__item-text p {
    text-align: center;
    margin: 0
}

.fifth {
    background: url("../images/fifth/fifth_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.fifth__title {
    padding: 35px 0 0;
    font-size: 25px;
    font-family: "RussoOne";
    letter-spacing: -0.4px;
    color: #bf1e2e;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 16px
}

@media (max-width: 799px) {
    .fifth__title {
        font-size: 22px
    }
}

.fifth__title span {
    padding: 0 10px 0 0;
    color: #fff
}

.fifth__grafics {
    color: #fff;
    margin: 0 0 22px
}

.fifth__grafics-gold,
.fifth__grafics-ciber {
    width: 640px;
    margin: 0 auto 26px
}

@media (max-width: 799px) {

    .fifth__grafics-gold,
    .fifth__grafics-ciber {
        width: 100%
    }
}

@media (max-width: 799px) {
    .fifth__grafics-image img {
        width: 100%;
        max-width: 640px;
        height: 300px
    }
}

.fifth__grafics-title {
    padding: 0 0 0 10px;
    font-family: "RoadRadio";
    font-size: 20px;
    margin: 0 0 22px
}

@media (max-width: 799px) {
    .fifth__grafics-title {
        font-size: 18px
    }
}

.fifth__grafics-title br {
    display: none
}

.fifth__grafics-ciber .fifth__grafics-title {
    margin: 0 0 -39px
}

.fifth__text {
    color: #fff;
    text-align: center
}

.fifth__link-forbes {
    font-family: "RoadRadio";
    font-size: 18px;
    letter-spacing: -0.2px;
    margin: 0 0 18px
}

.fifth__link-forbes a {
    color: #bf1e2e
}

.fifth__link-forbes br {
    display: none
}

.fifth__text-title {
    padding: 0 0 16px;
    font-family: "RussoOne";
    font-size: 20px;
    letter-spacing: -0.45px;
    text-transform: uppercase
}

.fifth__text-call {
    padding: 0 0 32px 0;
    font-family: "RussoOne";
    font-size: 30px;
    letter-spacing: -0.5px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 15px 15px 20px #bf1e2e,
        -15px 15px 20px #bf1e2e,
        15px -15px 20px #bf1e2e,
        -15px -15px 20px #bf1e2e
}

.form_too {
    padding: 0 0 40px;
    position: relative;
    background-color: #000;
    background: url("../images/form_too/form_too_bg.jpg") left center no-repeat;
    background-size: cover;
    margin: -5px 0 0
}

.form_too .container {
    padding: 0 98px
}

@media (max-width: 799px) {
    .form_too .container {
        padding: 0 4.6875%
    }
}

.form_too__title {
    width: 600px;
    padding: 70px 0 9px;
    font-family: "RoadRadio-Bold";
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 5px auto 31px
}

@media (max-width: 799px) {
    .form_too__title {
        width: 100%;
        padding: 76px 0 7px;
        font-size: 25px;
        margin: 5px auto 20px
    }
}

.form_too__button {
    margin: 14px 0 40px
}

.form_too__button .button--red {
    width: 470px;
    height: 50px;
    margin: 0 auto
}

@media (max-width: 799px) {
    .form_too__button .button--red {
        width: 290px;
        font-size: 18px
    }
}

.sixth {
    padding: 0 0 100px;
    background: url("../images/sixth/sixth_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.sixth__outer {
    text-align: left
}

.sixth__title {
    padding: 28px 0 0 0;
    font-family: "RussoOne";
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #bf1e2e;
    margin: 0 0 21px
}

@media (max-width: 799px) {
    .sixth__title {
        margin: 0 0 13px
    }
}

.sixth__title span {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 0;
    font-size: 20px;
    line-height: 25px;
    color: #000
}

.sixth__content {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden
}

.sixth__col-one {
    padding: 46px 0 0 5px
}

.sixth__col-too {
    display: flex;
    justify-content: flex-start;
    width: 400%;
    transform: translate3d(-25%, 0, 0);
    transition: transform 0.5s;
}

.sixth__item {
    width: 25%;
    margin: 0 0 31px
}

.sixth__item-image {
    text-align: center;
    margin: 0 0 -35px
}

@media (max-width: 799px) {
    .sixth__item-image {
        margin: -11px 0 -35px
    }
}

.sixth__item-image img {
    width: 200px
}

.sixth__item-content {
    padding: 29px 0 0;
    margin: 0 0 0
}

.sixth__item-title {
    max-width: 470px;
    padding: 0 0 3px;
    font-family: "RoadRadio-Bold";
    font-size: 25px;
    letter-spacing: -0.6px;
    border-bottom: 1px solid #d9969c;
    margin: 0 0 10px
}

.sixth__item-title b {
    font-size: 20px;
    font-weight: bold
}

@media (max-width: 799px) {
    .sixth__item-title {
        margin: 0 0 10px 20px
    }
}

.sixth__item-text {
    padding: 0 0 0;
    font-family: "Jura-DemiBold";
    font-size: 18px
}

.sixth__pagination {
    text-align: center
}

.sixth__pagination-item {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #bf1e2e;
    margin: 0 0 0 10px;
    cursor: pointer
}

.sixth__pagination-item:first-child {
    margin: 0
}

.sixth__pagination-item.is-active {
    background-color: #bf1e2e;
    pointer-events: none
}

.calculator {
    width: 470px;
    padding: 22px 87px;
    color: #fff;
    border-radius: 2px;
    background-image: linear-gradient(to right, #bf1e2e, #c35e68);
    box-shadow: 0px 1px 5.7px 0.3px rgba(0, 0, 0, 0.3);
    margin: 0 auto
}

@media (max-width: 799px) {
    .calculator {
        width: 290px;
        padding: 22px 20px
    }
}

.calculator__title {
    padding: 0 0 11px;
    font-family: "RoadRadio-Bold";
    font-size: 25px;
    letter-spacing: -0.8px;
    border-bottom: 2px solid #fff
}

@media (max-width: 799px) {
    .calculator__title {
        padding: 0 0 7px;
        text-align: center
    }
}

.calculator__list {
    padding: 18px 0 0 22px;
    font-family: "Jura-DemiBold";
    font-size: 16px;
    border-bottom: 2px solid #da4453;
    margin: 0 30px 21px
}

@media (max-width: 799px) {
    .calculator__list {
        margin: 0 0 21px
    }
}

.calculator__list input[type="checkbox"] {
    display: none
}

.calculator__list input[type="text"] {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    color: #000;
    text-align: right;
    margin: 14px 0 0;
}

.calculator__list input[type="checkbox"]:checked+label:after {
    background-color: #000
}

.calculator__list label.for-inputs {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 80px);
    margin: 0 0 15px -8px;
}

.calculator__list label:not(.for-inputs) {
    position: relative;
    display: block;
    margin: 0 0 20px 19px;
    cursor: pointer
}

.calculator__list label:last-child {
    margin: 0 0 21px 19px
}

.calculator__list label:not(.for-inputs):after {
    content: '\2713';
    position: absolute;
    top: 3px;
    left: -29px;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    transition: background-color 0.5s
}

.calculator__result-title {
    font-family: "RoadRadio-Bold";
    font-size: 16px;
    margin: 0 30px 9px
}

@media (max-width: 799px) {
    .calculator__result-title {
        margin: 0 0 9px
    }
}

.calculator__result-month,
.calculator__result-year {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    font-family: "RoadRadio-Bold";
    font-size: 16px;
    line-height: 0.8;
    border-top: 1px solid #da4453;
    margin: 0 30px -7px
}

@media (max-width: 799px) {

    .calculator__result-month,
    .calculator__result-year {
        margin: 0 0 -7px
    }
}

.calculator__result-month span,
.calculator__result-year span {
    font-size: 18px
}

.eighth {
    padding: 0 0 60px;
    background: url("../images/eighth/eighth_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.eighth__title {
    padding: 31px 0 39px;
    font-family: "RussoOne";
    font-size: 30px;
    line-height: 1.85;
    letter-spacing: -0.7px;
    text-align: center;
    text-transform: uppercase;
    color: #bf1e2e
}

@media (max-width: 799px) {
    .eighth__title {
        padding: 31px 15px 39px
    }
}

.eighth__title span {
    display: block;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.4px
}

.eighth__title--dark {
    color: #000
}

.eighth__subtitle {
    position: relative;
    width: 300px;
    margin: 0 auto 3px
}

.eighth__subtitle-num {
    position: absolute;
    top: -31px;
    left: 57px;
    font-family: "RussoOne";
    font-size: 110px;
    line-height: 1;
    letter-spacing: -3px;
    color: #bf1e2e
}

.eighth__subtitle-num:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #fff 20%, rgba(255, 255, 255, 0.85) 60%)
}

.eighth__subtitle-content {
    opacity: 0.99
}

.eighth__subtitle-title {
    padding: 20px 0 6px 34px;
    font-family: "RoadRadio-Black";
    font-size: 22px;
    letter-spacing: -0.7px;
    color: #bf1e2e
}

.eighth__subtitle-text {
    padding: 0 0 34px;
    font-family: "RoadRadio-Bold";
    font-size: 18px;
    letter-spacing: -0.7px;
    text-align: center;
    color: #3b3b3b
}

.eighth__subtitle-decor--top {
    position: absolute;
    top: -1px;
    left: 5px;
    width: 30px;
    height: 30px
}

.eighth__subtitle-decor--bottom {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 30px;
    height: 30px
}

.eighth__subtitle-decor--bottom .icon {
    transform: rotate(180deg)
}

.eighth__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0 0 100px
}

@media (max-width: 799px) {
    .eighth__content {
        padding: 0 0 0 25px
    }
}

.eighth__user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin: 0 0 -9px
}

@media (max-width: 799px) {
    .eighth__user {
        width: 100%;
        margin: 0 0 10px
    }
}

.eighth__user-photo {
    text-align: center;
    margin: 0 0 -6px
}

.eighth__user-content {
    position: relative;
    letter-spacing: -0.5px
}

.eighth__user-name {
    font-family: "RoadRadio-Bold";
    font-size: 20px;
    color: #000
}

.eighth__user-descr {
    font-family: "RoadRadio-Bold";
    font-size: 17px;
    color: #000;
    margin: 0 0 3px
}

.eighth__user-text {
    padding: 0 30px 0 0;
    font-family: "Jura-DemiBold";
    font-size: 15px;
    letter-spacing: -0.4px;
    color: #3b3b3b
}

.eighth__user-text span {
    font-size: 24px
}

.eighth__user-decor {
    position: absolute;
    top: -32px;
    left: -26px;
    width: 30px;
    height: 30px
}

.ninth {
    background: url("../images/ninth/ninth_bg.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.ninth__outer {
    padding: 0 0 60px;
    color: #fff;
    background: url("../images/ninth/red.png") 11% 35% no-repeat
}

@media (max-width: 799px) {
    .ninth__outer {
        height: 100%;
        background-position-x: center;
        background-position-y: -100%
    }
}

@media (max-width: 450px) {
    .ninth__outer {
        background-position-y: -400%
    }
}

.ninth__inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

@media (max-width: 799px) {
    .ninth__inner {
        flex-direction: column
    }
}

.ninth__item {
    width: 47.5%;
    padding: 29px 0 0;
    margin: 0 2.5% 0 8px
}

@media (max-width: 799px) {
    .ninth__item {
        width: 100%;
        max-width: 400px;
        margin: 0 auto
    }
}

.ninth__item--red .ninth__item-title {
    color: #bf1e2e
}

.ninth__item--red .ninth__item-title span {
    border-color: #bf1e2e
}

.ninth__item--red .ninth__item-text p {
    padding: 0;
    margin: 0 0 10px
}

.ninth__item--red .ninth__item-icon {
    border-color: rgba(84, 60, 61, 0.8)
}

.ninth__item--red .ninth__item-icon_bg {
    background-image: linear-gradient(to right, rgba(191, 30, 46, 0.7), rgba(191, 30, 46, 0.95))
}

.ninth__item-title {
    padding: 0 26px 68px 0;
    font-family: "RoadRadio-bold";
    font-size: 25px;
    letter-spacing: -0.3px;
    text-align: center
}

.ninth__item-title span {
    display: block;
    width: 84%;
    font-family: "RoadRadio";
    line-height: 39px;
    letter-spacing: -0.3px;
    text-align-last: left;
    border-bottom: 1px solid #fff
}

.ninth__item-text {
    position: relative;
    padding: 62px 17px 17px 11px;
    font-family: "Jura-DemiBold";
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    text-shadow: 0px 1px 17.1px rgba(0, 0, 0, 0.63);
    color: #fefefe;
    border-radius: 3px;
    border: 1px dashed rgba(255, 255, 255, 0.2)
}

.ninth__item-icon {
    position: absolute;
    top: -58px;
    left: calc(50% - 55px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px dashed rgba(255, 255, 255, 0.2)
}

.ninth__item-icon_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.95))
}

.tenth {
    height: 310px;
    overflow: hidden
}

.tenth__title {
    padding: 32px 0 0;
    font-family: "RussoOne";
    font-size: 30px;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    margin: 0 0 65px
}

@media (max-width: 799px) {
    .tenth__title {
        font-size: 25px;
        text-align: center
    }
}

.tenth__title--red {
    display: block;
    color: #bf1e2e;
    text-align: center;
    margin: 0 0
}

@media (max-width: 799px) {
    .tenth__title--red {
        display: inline
    }
}

.tenth__title--dark {
    display: block;
    color: #000;
    text-align: center
}

@media (max-width: 799px) {
    .tenth__title--dark {
        display: inline
    }
}

.tenth__logo {
    padding: 0 0 0 6px;
    text-align: center
}

.tenth__logo img {
    max-width: 45%
}

.eleventh {
    padding: 0 0 60px;
    background: url("../images/eleventh/eleventh_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.eleventh__outer {
    color: #000
}

.eleventh__inner {
    width: 100%;
    overflow: hidden
}

.eleventh__title {
    padding: 32px 0 0 0;
    font-family: "RussoOne";
    font-size: 30px;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    margin: 0 0 11px
}

.eleventh__title--red {
    color: #bf1e2e;
    text-align: center
}

.eleventh__title--dark {
    color: #000;
    text-align: center
}

.eleventh__content {
    width: 200%;
    transition: transform 0.5s;
}

.eleventh__questions {
    display: inline-block;
    width: 50%;
    padding: 27px 0 0
}

.eleventh__questions-elem_img {
    display: none
}

.eleventh__questions-item {
    display: inline-block;
    vertical-align: top;
    width: 45%
}

@media (max-width: 799px) {
    .eleventh__questions-item {
        width: 100%
    }
}

.eleventh__questions-item:first-child {
    margin: 0 5% 0 0
}

.eleventh__questions-item:first-child .eleventh__item-title {
    padding: 37px 0 39px 34px;
    color: #bf1e2e
}

@media (max-width: 799px) {
    .eleventh__questions-item:first-child .eleventh__item-title {
        padding: 12px 0 10px 10px
    }
}

.eleventh__item-title {
    position: relative;
    width: 90%;
    min-width: 347px;
    padding: 16px 0 17px 36px;
    font-family: "RoadRadio-Black";
    font-size: 30px;
    letter-spacing: -0.6px
}

@media (max-width: 799px) {
    .eleventh__item-title {
        min-width: 0;
        padding: 12px 0 10px 10px;
        color: #bf1e2e
    }
}

.eleventh__item-decor--top {
    position: absolute;
    top: -9px;
    left: 1px;
    width: 30px;
    height: 30px
}

.eleventh__item-decor--bottom {
    position: absolute;
    bottom: -8px;
    right: -1px;
    width: 30px;
    height: 30px
}

.eleventh__item-decor--bottom .icon {
    transform: rotate(180deg)
}

.eleventh__item-list {
    padding: 1px 0 0 64px
}

@media (max-width: 799px) {
    .eleventh__item-list {
        padding: 1px 0 0 25px
    }
}

.eleventh__item-list li {
    position: relative;
    font-family: "Jura-DemiBold";
    font-size: 15px;
    line-height: 1.22;
    letter-spacing: -0.4px;
    padding: 0;
    margin: 0 0 13px
}

.eleventh__item-list li:before {
    content: '';
    position: absolute;
    top: 2px;
    left: -27px;
    display: block;
    background-image: url(../images/sprite.png);
    background-position: -77px -118px;
    width: 18px;
    height: 18px
}

.eleventh__item-list li span {
    font-size: 16px;
    line-height: 1
}

.eleventh__howmuch {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 0 0 0
}

.eleventh__howmuch-title {
    padding: 64px 0px 0 28px;
    font-family: "RoadRadio-Black";
    font-size: 35px;
    letter-spacing: -0.6px;
    color: #bf1e2e;
    margin: 0 0 12px
}

.eleventh__howmuch-text {
    font-family: "RoadRadio-Light";
    font-size: 18px;
    line-height: 1.23
}

.eleventh__howmuch-text p {
    display: block;
    width: 100%;
    padding: 8px 120px 8px 16px;
    margin: 0 0 2px
}

@media (max-width: 799px) {
    .eleventh__howmuch-text p {
        padding: 6px 0 6px 10px
    }
}

.eleventh__howmuch-text p:last-child {
    background-image: linear-gradient(to right, rgba(191, 30, 46, 0.2), rgba(191, 30, 46, 0))
}

.eleventh__pagination {
    text-align: center
}

.eleventh__pagination-left,
.eleventh__pagination-right {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #bf1e2e;
    cursor: pointer
}

.eleventh__pagination-left.is-active,
.eleventh__pagination-right.is-active {
    background-color: #bf1e2e;
    pointer-events: none
}

.eleventh__pagination-right {
    margin: 0 0 0 10px
}

.twelfth {
    padding: 0 0 60px;
    background: url("../images/twelfth/twelfth_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.twelfth__outer {
    width: 100%
}

.twelfth__inner {
    width: 100%;
    padding: 12px 0 0 0
}

.twelfth__title {
    padding: 20px 0 48px 15px;
    font-family: "RussoOne";
    font-size: 30px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

@media (max-width: 799px) {
    .twelfth__title {
        font-size: 25px
    }
}

.twelfth__content {
    width: 70%;
    margin: 0 auto 2px
}

@media (max-width: 799px) {
    .twelfth__content {
        width: 100%;
        max-width: 470px
    }
}

.twelfth__item {
    display: block;
    font-family: "RoadRadio";
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin: 5px auto 24px
}

.twelfth__item img {
    width: 100%;
    display: block;
    border: 2px solid #bf1e2e;
    transition: box-shadow 0.5s ease;
    margin: 0 auto 5px
}

.twelfth__item:hover img {
    box-shadow: 0 0 15px 8px rgba(255, 255, 255, 0.4)
}

.twelfth__item.is-close {
    display: none
}

.twelfth__button .button--red {
    margin: 0 auto
}

@media (max-width: 799px) {
    .twelfth__button .button--red {
        max-width: 90%;
        height: 40px
    }
}

.thirteenth {
    padding: 0 0 60px;
    background: url("../images/thirteenth/thirteenth_bg_750.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.thirteenth__outer {
    color: #000
}

.thirteenth__title {
    padding: 33px 0 0 29px;
    font-family: "RussoOne";
    font-size: 30px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin: 0 0 39px
}

@media (max-width: 799px) {
    .thirteenth__title {
        padding: 33px 0 0;
        font-size: 25px;
        text-align: center
    }
}

.thirteenth__title--red {
    display: block;
    color: #bf1e2e;
    text-align: center;
    margin: 0 0 -2px
}

@media (max-width: 799px) {
    .thirteenth__title--red {
        display: inline
    }
}

.thirteenth__title--dark {
    display: block;
    color: #000;
    text-align: center
}

@media (max-width: 799px) {
    .thirteenth__title--dark {
        display: inline
    }
}

.thirteenth__player {
    margin: 0 0 0
}

.thirteenth__player .video {
    width: 581px;
    height: 288px;
    margin: 0 auto
}

.thirteenth__player-descr {
    display: flex;
    flex-direction: column-reverse;
    font-family: "RoadRadio-Black";
    font-size: 25px;
    margin: 0 0 0 0
}

.thirteenth__player-descr span {
    display: block;
    font-family: "RoadRadio-Bold";
    font-size: 20px
}

.thirteenth__player-title {
    position: relative;
    padding: 19px 16px 24px 24px;
    margin: 0 0 23px
}

.thirteenth__player-title br {
    display: none
}

.thirteenth__playr-decor--top,
.thirteenth__playr-decor--bottom {
    position: absolute;
    width: 30px;
    height: 30px
}

.thirteenth__playr-decor--top {
    top: 0;
    left: 0
}

.thirteenth__playr-decor--bottom {
    bottom: 0;
    right: 0
}

.thirteenth__playr-decor--bottom .icon {
    transform: rotate(180deg)
}

.thirteenth__player-address {
    width: 581px;
    font-family: "RoadRadio";
    font-size: 18px;
    margin: 12px auto
}

.thirteenth__player-address .icon {
    margin: 0 3px 0 0
}

.thirteenth__items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap
}

.thirteenth__items .twelfth__item {
    position: relative;
    color: #000
}

.thirteenth__items .twelfth__item img {
    width: 300px;
    height: 200px
}

.thirteenth__items .twelfth__item:after {
    content: '';
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
    background-image: url(../images/sprite.png);
    background-position: 0px -66px;
    width: 70px;
    height: 70px
}

.thirteenth__button .button--red {
    width: 460px;
    height: 50px;
    margin: 0 auto
}

.video {
    position: relative;
    font-size: 0;
    border: 2px solid #bf1e2e
}

.video.is-active video {
    transition: visibility 0s linear;
    visibility: visible
}

.video.is-active .video__overlay {
    opacity: 0
}

.video.is-active .video__btn {
    pointer-events: none
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: #000;
    transition: visibility 0.5s linear;
    visibility: hidden
}

.video__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 21.25% 0 0;
    background: none no-repeat 50% 50%;
    background-size: cover;
    transition: opacity 0.5s ease;
    pointer-events: none;
    overflow: hidden
}

.video__overlay:hover .video__overlay-hover {
    opacity: 1;
    transform: scale(1.2) translate3d(0, 0, 0);
    transition: opacity 0.5s linear, transform 60s 0.25s cubic-bezier(0.19, 1, 0.22, 1)
}

.video__overlay-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: none no-repeat 50% 50%;
    background-size: cover;
    transition: opacity 0.5s ease, transform 0.5s 0.5s ease
}

.video__btn {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: background 0.5s;
    margin: 0 auto 25px;
    pointer-events: all
}

.fourteenth {
    overflow: hidden
}

.fourteenth__title {
    padding: 32px 0 52px;
    font-family: "RussoOne";
    font-size: 30px;
    letter-spacing: -0.6px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #000
}

.fourteenth__map {
    width: 100%;
    height: 400px
}

.fourteenth__map #map {
    width: 100%;
    height: 400px;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}

.fifteenth {
    padding: 0 0 40px;
    background: url("../images/fifteenth/fifteenth_bg.png") center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.fifteenth__outer {
    color: #000
}

.fifteenth .container {
    padding: 0
}

.fifteenth__inner {
    padding: 0 10px 0 0
}

.fifteenth__title {
    padding: 35px 0 0 0;
    font-family: "RussoOne";
    font-size: 30px;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 21px
}

@media (max-width: 799px) {
    .fifteenth__title {
        font-size: 25px
    }
}

.fifteenth__title--red {
    color: #bf1e2e;
    text-align: center;
    margin: 0 0 -2px
}

@media (max-width: 799px) {
    .fifteenth__title--red {
        display: block
    }
}

.fifteenth__title--white {
    color: #fff;
    text-align: center
}

@media (max-width: 799px) {
    .fifteenth__title--white {
        display: block
    }
}

.fifteenth__content {
    text-align: center
}

.fifteenth__form {
    width: 595px;
    padding: 2px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 2px 9.5px 0.5px rgba(0, 0, 0, 0.25);
    margin: 0 auto
}

@media (max-width: 799px) {
    .fifteenth__form {
        max-width: 95%;
        min-width: 310px
    }
}

.fifteenth__form form {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.902;
    box-shadow: 0px 2px 9.5px 0.5px rgba(0, 0, 0, 0.25)
}

.fifteenth__form-inner {
    width: 100%;
    height: 100%;
    padding: 23px 0 36px;
    border-width: 2px;
    border-color: #bf1e2e;
    border-style: solid;
    border-radius: 3px
}

.fifteenth__form-title {
    width: 80%;
    font-family: "RoadRadio-Black";
    font-size: 22px;
    letter-spacing: -0.5px;
    color: #000;
    margin: 0 auto
}

@media (max-width: 799px) {
    .fifteenth__form-title {
        min-width: 290px;
        font-size: 18px
    }
}

.fifteenth__form-inputs {
    width: 87%;
    text-align: center;
    margin: 0 auto 7px
}

.fifteenth__form-input {
    margin: 28px 0 20px
}

@media (max-width: 799px) {
    .fifteenth__form-input {
        margin: 21px 0 29px
    }
}

.fifteenth__form-input input {
    width: 100%;
    height: 33px;
    font-family: "Jura-DemiBold";
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #818181
}

@media (max-width: 799px) {
    .fifteenth__form-input input {
        font-size: 18px
    }
}

.fifteenth__form-input.is-necessarily {
    position: relative
}

.fifteenth__form-input.is-necessarily:after {
    content: '*';
    position: absolute;
    top: 3px;
    right: 11px;
    font-size: 30px;
    color: #bf1e2e
}

.fifteenth__note_title {
    font-family: "Jura-DemiBold";
    font-size: 15px;
    color: #000;
    margin: 0 0 22px
}

.fifteenth__note_title span {
    color: #bf1e2e
}

.fifteenth__note_politics,
.fifteenth__note_politics a {
    font-family: "Jura-DemiBold";
    font-size: 15px;
    color: #818181;
    text-decoration-skip-ink: none
}

.fifteenth__form-button {
    padding: 41px 0 0
}

.fifteenth__form-button button {
    margin: 0 auto
}

@media (max-width: 799px) {
    .fifteenth__form-button button {
        max-width: 95%
    }
}

.fifteenth__footer {
    padding: 20px 0 0
}

.fifteenth__footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jura-DemiBold";
    color: #fff
}

.fifteenth__footer a {
    color: #fff
}

.fifteenth__footer-phone {
    order: 1;
    font-family: "RussoOne";
    font-size: 20px
}

.fifteenth__footer-phone a {
    display: inline-block;
    vertical-align: top;
    padding: 13px 0 0;
    text-decoration: none;
    margin: 0 0 0 20px
}

.fifteenth__footer-phone_icon {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 9px 2px 0 0;
    background-color: #bf1e2e;
    transform: rotate(45deg);
    margin: 9px 0 0
}

.fifteenth__footer-phone_icon img {
    transform: rotate(-45deg)
}

.fifteenth__footer-mail {
    order: 2;
    padding: 17px 0 0;
    font-size: 18px;
    letter-spacing: -0.6px
}

.fifteenth__footer-logo {
    order: 0
}

.fifteenth__footer-logo img {
    width: 260px
}

.fifteenth__footer-address {
    order: 3;
    width: 250px;
    padding: 15px 0 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.6px;
    text-align: center;
    margin: 0 auto
}

.fifteenth__footer-copy {
    order: 4;
    padding: 15px 0 0;
    font-size: 15px;
    letter-spacing: -0.6px
}